<template>
  <q-card id="returnToServerSetupDialog">
    <q-card-section class="bg-primary text-white">
      <div id="deleteConfirmDialogHeader" class="text-h6 text-center">
        Return to server setup?
      </div>
    </q-card-section>
    <q-card-section>
      <p>
        Are you sure you wish to return to server setup? This will reset your
        data and saved server.
      </p>
    </q-card-section>

    <q-card-actions>
      <div class="col-12 col-sm-6 q-pa-xs">
        <q-btn
          id="returnToServerSetupDialogGoBackButton"
          class="full-width"
          label="Stay Here"
          @click="emit('close-dialog')"
        />
      </div>
      <div class="col-12 col-sm-6 q-pa-xs">
        <q-btn
          id="returnToServerSetupDialogContinueButton"
          class="full-width"
          label="I am sure"
          color="negative"
          @click="goToServerSetup"
        />
      </div>
    </q-card-actions>
  </q-card>
</template>

<script lang="ts" setup>
import clearStores from 'src/functions/auth/clearStores';
import { useBasicStore } from 'src/stores/basicStore';
import { useRouter } from 'vue-router';

const basicStore = useBasicStore();
const router = useRouter();
const emit = defineEmits(['close-dialog']);

const goToServerSetup = async (): Promise<void> => {
  basicStore.appServerAddress = '';
  await router.push({ name: 'serverSelect' }).catch((err: Error) => err);
  clearStores(['basic', 'socket', 'user', 'client', 'centre', 'localStorage']);
};
</script>
