<template>
  <div
    v-if="
      props?.centreId &&
      centreStore.centres[props.centreId] &&
      centreStore.centres[props.centreId][itemNames.plural]
    "
    :class="`q-pa-md centre${itemNames.pluralCaptial}`"
    justify="center"
  >
    <q-card flat>
      <q-input
        v-model="search"
        :for="`${itemNames.plural}Search`"
        dense
        :label="`Search ${itemNames.pluralCaptial}`"
      >
        <template #append>
          <q-icon :name="mdiMagnify" />
        </template>
      </q-input>

      <responsive-table
        :table-id="`${itemNames.plural}Table`"
        :rows="items"
        :filter="search"
        :headers="itemsHeaders"
        :no-results-label="`No matching ${itemPlural} found in centre`"
        :no-data-label="`No ${itemPlural} found in centre`"
        default-sort="description"
        :enable-row-click-ripple="false"
      >
        <template #actions="{ cellData }">
          <q-btn
            flat
            round
            color="negative"
            :icon="mdiDelete"
            :class="`delete${itemNames.capital}Button`"
            @click="deleteItem(cellData)"
          />
        </template>
        <template #description-edit="{ cellData }">
          <q-popup-edit
            :id="`${itemNames.lowercase}PopupEdit`"
            v-slot="scope"
            v-model="cellData.description"
            buttons
            label-set="Save"
            label-cancel="Close"
            :validate="validate"
            @save="updateItemDescription(cellData.id, $event)"
          >
            <q-input
              v-model="scope.value"
              :for="`${itemNames.lowercase}EditNameField`"
              type="textarea"
              dense
              autofocus
              :rules="[
                v => !!v || 'Description is required',
                v => uniqueRule(v, items, true)
              ]"
            />
          </q-popup-edit>
        </template>
      </responsive-table>
    </q-card>
    <div class="text-center">
      <q-btn
        :id="`add${itemNames.capital}Button`"
        color="primary"
        small
        class="full-width"
        @mousedown="openItemCreationDialog"
        >Add {{ itemNames.capital }}</q-btn
      >
    </div>
    <dialog-card
      :dialog-id="`create${itemNames.capital}Dialog`"
      :card-title="`Create New ${itemNames.capital}`"
      :prop-show-dialog="showCreateItemDialog"
      max-width="600"
      @set-dialog="setShowCreateItemDialog"
    >
      <q-input
        v-model="newItemDescription"
        class="q-ma-md"
        :for="`${itemNames.lowercase}CreateDescriptionField`"
        maxlength="256"
        label="Description"
        :rules="[
          v => !!v || 'Description is required',
          v => uniqueRule(v, items, true)
        ]"
      />
      <card-confirm-buttons
        confirm-button-text="Save"
        :back-button="true"
        @confirm-button-clicked="
          upsertItem({ description: newItemDescription })
        "
        @go-back-button-clicked="setShowCreateItemDialog(false)"
      />
    </dialog-card>
  </div>
</template>

<script lang="ts" setup>
import { mdiDelete, mdiMagnify } from '@mdi/js';
import { useCentreStore } from 'src/stores/centresStore';
import { computed, ref, watch } from 'vue';
import { useBasicStore } from 'src/stores/basicStore';
import axiosFailed from 'src/functions/proxy/AxiosFailed';
import getCentreRelatedData from 'src/functions/centre/getCentreRelatedData';
import DialogCard from 'src/components/ui/DialogCard.vue';
import CardConfirmButtons from 'src/components/ui/CardConfirmButtons.vue';
import ResponsiveTable from 'src/components/ui/ResponsiveTable.vue';
import type NeedsResponse from 'src/types/axios/NeedsResponse';
import type { AxiosResponse } from 'axios';
import type Policy from 'src/types/Policy';
import type Need from 'src/types/Need';
import type PoliciesResponse from 'src/types/axios/PoliciesResponse';

interface Props {
  centreId: number | undefined;
  itemName: 'policy' | 'need';
  itemPlural: 'policies' | 'needs';
}

const props = withDefaults(defineProps<Props>(), {
  centreId: undefined,
  itemName: 'policy',
  itemPlural: 'policies'
});
type Item = Need | Policy;

const centreStore = useCentreStore();
const basicStore = useBasicStore();

const search = ref('');
const showCreateItemDialog = ref(false);
const newItemDescription = ref('');
const itemsHeaders = [
  {
    label: 'Description',
    name: 'description',
    field: 'description',
    sortable: true
  },
  {
    label: 'Actions',
    name: 'actions',
    field: 'actions',
    sortable: false
  }
];

const itemNames = computed(() => {
  const capital: 'Policy' | 'Need' = (props.itemName.charAt(0).toUpperCase() +
    props.itemName.slice(1)) as 'Policy' | 'Need';
  const plural = props.itemPlural;

  const pluralCaptial: 'Policies' | 'Needs' = (plural.charAt(0).toUpperCase() +
    plural.slice(1)) as 'Policies' | 'Needs';
  return {
    capital,
    lowercase: props.itemName,
    pluralCaptial,
    plural
  };
});

const uniqueRule = (
  value: string,
  items: Item[],
  creating: boolean
): boolean | string => {
  const itemLimit = creating ? 1 : 2;
  return (
    items
      .map(item => item.description)
      .filter(itemDescription => itemDescription === value).length <
      itemLimit || `${itemNames.value.capital} description must be unique`
  );
};

const openItemCreationDialog = (): void => {
  newItemDescription.value = '';
  showCreateItemDialog.value = true;
};

const items = computed(() => {
  if (props.centreId && props.centreId in centreStore.centres) {
    const itemPlural = itemNames.value.plural;
    const centre = centreStore.centres[props.centreId];
    const centreItems = centre[itemPlural] as number[];
    return centreItems
      .filter((itemId: number) => itemId in centreStore[itemPlural])
      .map((itemId: number) => ({
        ...centreStore[itemNames.value.plural][itemId],
        valid: true
      }))
      .sort((a: Item, b: Item) => a.description.localeCompare(b.description));
  }
  return [];
});

const deleteItem = (item: Item): Promise<void | AxiosResponse> | null => {
  const itemsClone = [...items.value];
  itemsClone.splice(
    itemsClone.findIndex(
      (selectedItem: Item) => selectedItem.description === item.description
    ),
    1
  );
  return context.updateCentre(itemsClone);
};

const upsertItem = (
  item: Partial<Item>
): Promise<void | AxiosResponse | null> | null => {
  if (item.id && item.description) {
    if (uniqueRule(item.description, items.value, false) !== true) {
      return null;
    }
    return basicStore.http
      .patch(`${itemNames.value.plural}/${item.id}/update/`, {
        description: item.description
      })
      .then(() => {
        showCreateItemDialog.value = false;
      })
      .catch(() => axiosFailed());
  }
  if (
    item.description &&
    uniqueRule(item.description, items.value, true) !== true
  ) {
    return null;
  }
  return basicStore.http
    .post(`${itemNames.value.plural}/`, [item])
    .then((response: NeedsResponse | PoliciesResponse) => {
      showCreateItemDialog.value = false;
      return addNewCentreItem(response.data[0]);
    })
    .catch(() => axiosFailed());
};

const updateCentre = (items: Item[]): null | Promise<void | AxiosResponse> => {
  const itemIds = items.filter(item => item.id).map((item: Item) => item.id);
  if (props.centreId) {
    return basicStore.http
      .patch(`centres/${props.centreId}/update/`, {
        [`${itemNames.value.plural}`]: itemIds
      })
      .catch(() => axiosFailed());
  }
  return null;
};

const addNewCentreItem = (item: Item): Promise<void | AxiosResponse> | null => {
  const clonedItems: Item[] = [...items.value];
  clonedItems.push(item);
  return context.updateCentre(clonedItems);
};

const setShowCreateItemDialog = (newValue: boolean): void => {
  showCreateItemDialog.value = newValue;
};

watch(
  () => props.centreId,
  () => {
    if (props.centreId) {
      return getCentreRelatedData(props.centreId, itemNames.value.plural);
    }
    return null;
  }
);

const updateItemDescription = (
  id: number,
  newValue: string
): Promise<void | AxiosResponse | null> | null => {
  return upsertItem({
    id,
    description: newValue
  });
};

const validate = (value: string): boolean => {
  return !!value && uniqueRule(value, items.value, true) === true;
};

const context = {
  updateCentre
};

const created = (): void => {
  if (props.centreId) {
    getCentreRelatedData(props.centreId, itemNames.value.plural).catch(
      (error: Error) => error
    );
  }
};

created();
</script>
<style>
.disable-events {
  pointer-events: none;
}
</style>
