<template>
  <q-card-section>
    <p id="centreMatchingColorInfoText">
      The {{ centrePlural[0] }} below {{ centrePlural[1] }} the same colour as
      the colour you selected. This will make it hard to tell these centres
      apart in the calendar. Are you sure you want to pick this colour?
    </p>
    <div class="row mt-5">
      <div
        v-for="centre in centres"
        :key="centre"
        class="col centreMatchingColorCentre"
      >
        <h2 class="mb-2 subheader text-center centreMatchingColorCentreHeader">
          {{ centre }}
        </h2>
      </div>
    </div>
  </q-card-section>
  <card-confirm-buttons
    confirm-button-text="Continue Anyway"
    :back-button="true"
    @confirm-button-clicked="updateColor"
    @go-back-button-clicked="closeDialog"
  />
</template>

<script lang="ts" setup>
import CardConfirmButtons from 'src/components/ui/CardConfirmButtons.vue';
import { computed } from 'vue';
const emit = defineEmits(['update', 'close-dialog']);

interface Props {
  centres: string[];
}
const props = withDefaults(defineProps<Props>(), {
  centres: () => []
});

const centrePlural = computed(() => {
  if (props.centres.length === 1) {
    return ['centre', 'has'];
  }
  return ['centres', 'have'];
});

const closeDialog = (): void => {
  context.emit('close-dialog');
};

const updateColor = (): void => {
  context.emit('update');
};

const context = {
  emit
};
</script>
