<template>
  <div>
    <q-card-section class="q-pa-none">
      <div v-if="isAdmin" class="row q-mt-sm" no-gutters>
        <q-toggle
          :model-value="subscribed"
          :label="subscribedLabel"
          class="subscribeSwitch"
          color="primary"
          :disable="subscriptionChanging"
          @update:model-value="validateChangeSubscription"
        />
      </div>
      <q-list v-if="subscribed" bordered>
        <q-expansion-item
          v-if="centre && !isClient"
          id="policiesExpander"
          class="full-width"
          expand-separator
          label="Policies"
          :group="expansionGroup"
        >
          <centre-item-table
            :centre-id="centre.id"
            item-name="policy"
            item-plural="policies"
          />
        </q-expansion-item>
        <q-separator />
        <q-expansion-item
          v-if="centre && !isClient"
          id="needsExpander"
          class="full-width"
          expand-separator
          label="Needs"
          :group="expansionGroup"
        >
          <centre-item-table
            :centre-id="centre.id"
            item-name="need"
            item-plural="needs"
          />
        </q-expansion-item>
        <q-separator />
        <q-expansion-item
          v-if="centre && !isClient"
          id="centreExpanderColorSelect"
          class="full-width"
          expand-separator
          label="Centre Colour"
          :group="expansionGroup"
        >
          <centre-accent-color-select
            :prop-color="centreStore.centres[centre.id].color"
            :disabled="!isAdmin"
            :check-conflicting-centres="true"
            @update-color="if (centre) updateSelectedColor($event, centre.id);"
          />
        </q-expansion-item>
        <q-separator />
        <q-expansion-item
          v-if="centreId"
          id="centreExpanderLocationSelect"
          class="tableHeaderExpander full-width"
          expand-separator
          label="Centre Location"
          :group="expansionGroup"
        >
          <location-select class="q-pa-md" :centre-id="centreId" />
        </q-expansion-item>
        <q-separator />
        <q-expansion-item
          v-if="centreId"
          id="centreExpanderOpeningDays"
          class="tableHeaderExpander full-width"
          expand-separator
          label="Opening Days"
          :group="expansionGroup"
        >
          <div class="q-pa-md">
            <centre-day-selector :centre-id="centreId" />
          </div>
        </q-expansion-item>
        <q-separator />
        <q-expansion-item
          v-if="centreId"
          id="centreExpanderClosingDays"
          class="tableHeaderExpander full-width"
          expand-separator
          label="Closing Days"
          :group="expansionGroup"
        >
          <centre-calendar :centre-id="centreId" />
        </q-expansion-item>
      </q-list>
    </q-card-section>
    <q-card-actions class="justify-center">
      <div class="row full-width">
        <div v-if="isAdmin && totalCentres > 1" class="flex col-12 q-pa-sm">
          <q-btn
            color="negative"
            class="deleteCentreButton full-width"
            @click="
              if (centre) {
                selectedDeletionCentreId = centre.id;
                showDeleteCentreConfirmDialog = true;
              }
            "
            >Delete Centre</q-btn
          >
        </div>
      </div>
    </q-card-actions>
    <dialog-card
      v-if="selectedDeletionCentreId"
      :card-title="`Delete ${centreStore.centres[selectedDeletionCentreId].name}?`"
      :prop-show-dialog="showDeleteCentreConfirmDialog"
      dialog-id="centreDeleteDialog"
      @set-dialog="setDeleteCentreConfirmDialog"
    >
      <centre-delete-confirm-dialog
        :id="selectedDeletionCentreId"
        :name="'centre'"
        :description="'centre'"
        @close-dialog="closeDialog"
      />
    </dialog-card>
  </div>
</template>
<script lang="ts" setup>
import { computed, ref } from 'vue';
import { useCentreStore } from 'src/stores/centresStore';
import isAdmin from 'src/functions/auth/isAdmin';
import { Notify } from 'quasar';
import { useBasicStore } from 'src/stores/basicStore';
import { useUserStore } from 'src/stores/userStore';
import axiosFailed from 'src/functions/proxy/AxiosFailed';
import updateCentre from 'src/functions/centre/updateCentre';
import CentreAccentColorSelect from 'src/components/themes/AccentColorSelect.vue';
import DialogCard from 'src/components/ui/DialogCard.vue';
import CentreDeleteConfirmDialog from 'src/components/ui/DeleteConfirmDialog.vue';
import isClient from 'src/functions/auth/isClient';
import CentreCalendar from './calendar/CentreCalendar.vue';
import CentreDaySelector from './calendar/CentreDaySelector.vue';
import LocationSelect from './calendar/LocationSelect.vue';
import CentreItemTable from './CentreItemTable.vue';
import type { AxiosResponse } from 'axios';

interface Props {
  centreId: null | number;
}
const props = withDefaults(defineProps<Props>(), {
  centreId: null
});
const centreStore = useCentreStore();
const userStore = useUserStore();
const basicStore = useBasicStore();

const expansionGroup = ref('');

const showDeleteCentreConfirmDialog = ref(false);

const selectedDeletionCentreId = ref<number | null>(null);

const subscriptionChanging = ref(false);

const centre = computed(() => {
  if (props.centreId) {
    return centreStore.centres[props.centreId];
  }
  return null;
});

const totalCentres = computed(() => {
  return Object.keys(centreStore.centres)
    .map(centreKey => centreStore.centres[centreKey])
    .filter(selectedCentre => selectedCentre.setupComplete).length;
});

const updateSelectedColor = (
  color: string,
  centreId: number
): Promise<void | AxiosResponse> | null => {
  return updateCentre({ id: centreId, color });
};

const subscribed = computed(() => {
  if (userStore.user.centres && props.centreId) {
    return userStore.user.centres.includes(props.centreId);
  }
  return false;
});

const subscribedLabel = computed(() => {
  if (subscribed.value) {
    return 'You are subscribed to this centre';
  }
  return 'You are not subscribed to this centre';
});

const validateChangeSubscription = (
  newValue: boolean
): Promise<void> | null => {
  // Prevent user from unsubbing from all centres
  const centres = userStore.user.centres?.slice(0);
  if (centre.value && centres) {
    if (newValue) {
      centres.push(centre.value.id);
    } else {
      const index = centres.indexOf(centre.value.id);
      centres.splice(index, 1);
    }
    if (centres.length === 0) {
      Notify.create({
        type: 'info',
        message: 'You must be subscribed to at least one centre'
      });
    } else {
      subscriptionChanging.value = true;
      return context.changeSubscription(centre.value.id, newValue);
    }
  }
  return null;
};

const changeSubscription = (centre: number, adding: boolean): Promise<void> => {
  if (adding) {
    return basicStore.http
      .post(`users/centres/update/`, {
        user: userStore.user.id,
        centre
      })
      .then(() => {
        subscriptionChanging.value = false;
      })
      .catch(() => axiosFailed());
  }
  return basicStore.http
    .delete(`users/centres/update/`, {
      data: {
        user: userStore.user.id,
        centre
      }
    })
    .then(() => {
      subscriptionChanging.value = false;
    })
    .catch(() => axiosFailed());
};

const closeDialog = (): void => {
  showDeleteCentreConfirmDialog.value = false;
};

const setDeleteCentreConfirmDialog = (newValue: boolean): void => {
  showDeleteCentreConfirmDialog.value = newValue;
};

const context = {
  changeSubscription
};
</script>
