<template>
  <div>
    <div v-if="props.clientId" class="row">
      <div
        v-for="(row, index) in clientData"
        :key="row.value"
        :class="`q-pa-sm col-12 col-sm-${
          index === clientData.length - 1 && clientData.length % 2 !== 0
            ? '12'
            : '6'
        }`"
      >
        <q-input
          v-if="row.fieldType === 'textArea'"
          v-model="clientStore.clients[props.clientId].caseFormulation"
          type="textarea"
          :for="`${row.value}Input`"
          :label="row.text"
          class="clientFieldEdit"
          @blur="updateFieldFromRowBlur"
        >
          <template #prepend>
            <q-icon :name="row.icon" />
          </template>
        </q-input>
        <q-item
          v-if="row.fieldType === 'boolean'"
          class="clientFieldEdit"
          tag="label"
        >
          <q-item-section avatar>
            <q-checkbox
              :id="`${row.value}Input`"
              :model-value="clientStore.clients[props.clientId][row.value]"
              :checked-icon="row.icon"
              :unchecked-icon="row.iconUnfilled"
              @update:model-value="updateCheckboxFromRow($event, row.value)"
            />
          </q-item-section>
          <q-item-section>
            <q-item-label>{{ row.text }}</q-item-label>
            <q-item-label caption>{{ row.description }}</q-item-label>
          </q-item-section>
        </q-item>
        <q-select
          v-if="row.fieldType === 'choice'"
          :id="`${row.value}Input`"
          v-model="clientStore.clients[props.clientId][row.value]"
          :options="row.choices"
          :label="row.text"
          class="clientFieldEdit"
          emit-value
          map-options
          @update:model-value="updateFieldFromRow(row.value)"
        >
          <template #prepend><q-icon :name="row.icon" /></template>
        </q-select>
      </div>
    </div>
    <q-card-section class="text-center q-mt-md"
      ><strong>Needs</strong></q-card-section
    >
    <div class="row q-mb-md">
      <div
        v-for="(centre, index) in subscribedCentres"
        :key="centre.id"
        :class="`col-12 col-md-${
          index === subscribedCentres.length - 1 &&
          subscribedCentres.length % 2 !== 0
            ? '12'
            : '6'
        }`"
      >
        <needs-list :client-id="clientId" :centre-id="centre.id" />
      </div>
    </div>
    <q-btn id="clientAbilitySubmit" color="primary" @click="finishAbilitySetup"
      >Continue</q-btn
    >
  </div>
</template>
<script lang="ts" setup>
import {
  mdiClipboardText,
  mdiEarHearing,
  mdiGlasses,
  mdiShower,
  mdiToilet,
  mdiTooth,
  mdiToothOutline,
  mdiWheelchairAccessibility
} from '@mdi/js';
import { useBasicStore } from 'src/stores/basicStore';
import { useClientStore } from 'src/stores/clientsStore';
import axiosFailed from 'src/functions/proxy/AxiosFailed';
import { computed, watch } from 'vue';
import { useCentreStore } from 'src/stores/centresStore';
import updateField from 'src/functions/client/updateField';
import getCentreRelatedData from 'src/functions/centre/getCentreRelatedData';
import getClient from 'src/functions/client/getClient';
import getClientNeedsForClient from 'src/functions/client/getClientNeedsForClient';
import NeedsList from '../clients/NeedsList.vue';
import type Client from 'src/types/Client';
import type { AxiosResponse } from 'axios';
import type Centre from 'src/types/Centre';

const clientStore = useClientStore();
const basicStore = useBasicStore();
const centreStore = useCentreStore();

interface Props {
  clientId?: number;
}
const props = withDefaults(defineProps<Props>(), {
  clientId: undefined
});
const emit = defineEmits(['update-step']);

const clientFirstName = computed(() => {
  if (props.clientId) {
    return clientStore.clients[props.clientId].firstName;
  }
  return '';
});

const finishAbilitySetup = (): Promise<void> | null => {
  if (props.clientId) {
    const clientId = props.clientId;
    return basicStore.http
      .patch(`clients/${props.clientId}/update/`, {
        abilitySetup: true
      })
      .then(() => {
        clientStore.setSetupClient(clientStore.clients[clientId]);
        emit('update-step', 5);
      })
      .catch(axiosFailed);
  }
  return null;
};

const clientData: {
  text: string;
  value:
    | 'mobility'
    | 'toileting'
    | 'hygiene'
    | 'sight'
    | 'hearing'
    | 'usesDentures'
    | 'caseFormulation';
  fieldType: 'textArea' | 'choice' | 'boolean';
  icon: string;
  iconUnfilled?: string;
  choices?: string[];
  description?: string;
}[] = [
  {
    text: 'Mobility',
    value: 'mobility',
    fieldType: 'choice',
    choices: [
      'Walks Unaided',
      'Walks With Stick',
      'Walks With Frame',
      'Walks With Walker',
      'Uses Wheelchair'
    ],
    icon: mdiWheelchairAccessibility
  },
  {
    text: 'Toileting',
    value: 'toileting',
    fieldType: 'choice',
    choices: ['Fully Continent', 'Occasionally Incontinent', 'Incontinent'],
    icon: mdiToilet
  },
  {
    text: 'Hygiene',
    value: 'hygiene',
    fieldType: 'choice',
    choices: ['Self', 'Needs Assistance', 'Full Hoist Shower'],
    icon: mdiShower
  },
  {
    text: 'Sight',
    value: 'sight',
    fieldType: 'choice',
    choices: ['Normal', 'Glasses', 'Impaired'],
    icon: mdiGlasses
  },
  {
    text: 'Hearing',
    value: 'hearing',
    fieldType: 'choice',
    choices: ['Normal', 'Impaired'],
    icon: mdiEarHearing
  },
  {
    text: 'Dentures',
    value: 'usesDentures',
    fieldType: 'boolean',
    icon: mdiTooth,
    iconUnfilled: mdiToothOutline,
    description: `Does ${clientFirstName.value} wear dentures?`
  },
  {
    text: 'Case Formulation',
    value: 'caseFormulation',
    fieldType: 'textArea',
    icon: mdiClipboardText
  }
];

const subscribedCentres = computed(() => {
  if (props.clientId && props.clientId in clientStore.clients) {
    const centreIds = clientStore.clients[props.clientId].centres;
    return Object.keys(centreStore.centres)
      .map(centreKey => centreStore.centres[centreKey])
      .filter(centre => centre.setupComplete)
      .filter(centre => centreIds?.includes(centre.id));
  }
  return [];
});

const context = {
  updateField,
  getClient
};

const created = (): void => {
  updateClientData()?.catch((err: Error) => err);
};

watch(
  () => props.clientId,
  () => updateClientData
);

const updateClientData = (): Promise<[void, void]> | null => {
  if (props.clientId) {
    return Promise.all([
      context.getClient(props.clientId),
      getClientNeedsForClient(props.clientId)
    ]);
  }
  return null;
};

watch(subscribedCentres, () => {
  const promises: Promise<void>[] = [];
  subscribedCentres.value.forEach((centre: Centre) => {
    promises.push(getCentreRelatedData(centre.id, 'needs'));
  });
  return Promise.all(promises);
});

const updateCheckboxFromRow = (
  newValue: boolean,
  rowValue: keyof Client
): Promise<void | AxiosResponse> | null => {
  if (props.clientId) {
    (clientStore.clients[props.clientId][rowValue] as boolean) = newValue;
    return updateFieldFromRow(rowValue);
  }
  return null;
};

const updateFieldFromRow = (
  rowValue: keyof Client
): Promise<void | AxiosResponse> | null => {
  if (props.clientId) {
    const fieldValue = clientStore.clients[props.clientId][rowValue] as
      | boolean
      | string;
    return context.updateField(fieldValue, rowValue, props.clientId);
  }
  return null;
};

const updateFieldFromRowBlur = (
  event: Event
): Promise<void | AxiosResponse> | null => {
  if (props.clientId) {
    const input = event.target as HTMLInputElement;
    const rowValue = input.id.slice(0, -5) as keyof Client;
    const fieldValue = clientStore.clients[props.clientId][rowValue] as
      | boolean
      | string;
    return updateField(fieldValue, rowValue, props.clientId);
  }
  return null;
};

created();
</script>
