<template>
  <div>
    <div v-if="clientId" class="row">
      <div
        v-for="(row, index) in clientData"
        :key="row.text"
        class="col-12 col-sm-6"
      >
        <q-input
          v-if="row.type === 'tel' || row.type === 'text'"
          v-model="clientStore.clients[clientId][row.value]"
          :for="`${row.value}Input`"
          :rules="row.rules"
          :label="row.text"
          :maxlength="row.maxlength"
          :append-icon="row.icon"
          :autofocus="index === 0"
          required
          :type="row.type"
          @blur="updateFieldFromRowBlur"
        >
          <template #prepend>
            <q-icon :name="row.icon" />
          </template>
        </q-input>
        <div v-if="row.value === 'dateOfBirth'">
          <q-input
            :for="`${row.value}Input`"
            :label="row.text"
            :model-value="formattedDateOfBirth"
          >
            <template #prepend>
              <q-icon :name="row.icon" />
            </template>
          </q-input>
          <q-popup-proxy>
            <q-date
              v-model="clientStore.clients[clientId][row.value]"
              :options="maxDateToday"
              :navigation-max-year-month="format(new Date(), 'yyyy/MM')"
              navigation-min-year-month="1910/01"
              mask="YYYY-MM-DD"
              @update:model-value="updateFieldFromRow(row.value)"
            />
          </q-popup-proxy>
        </div>

        <q-select
          v-if="row.fieldType === 'choice' && props.clientId"
          :id="`${row.value}Input`"
          v-model="clientStore.clients[props.clientId][row.value]"
          :options="row.choices"
          :label="row.text"
          class="clientFieldEdit"
          emit-value
          map-options
          @update:model-value="updateFieldFromRow(row.value)"
        >
          <template #prepend>
            <q-icon :name="row.icon" />
          </template>
        </q-select>
      </div>
    </div>
    <div class="text-center ma-0">
      <next-of-kin-table
        :client-id="clientId"
        class="d-inline-flex justify-center ma-0"
      />
    </div>
    <q-btn
      id="clientAdditionalInfoSubmit"
      :disabled="!clientValid"
      color="primary"
      @click="finishAdditionalSetup"
      >Continue</q-btn
    >
  </div>
</template>
<script lang="ts" setup>
import {
  mdiCalendar,
  mdiGenderMaleFemaleVariant,
  mdiHome,
  mdiPhone
} from '@mdi/js';
import { format, parseISO } from 'date-fns';
import { computed } from 'vue';
import { useClientStore } from 'src/stores/clientsStore';
import { useBasicStore } from 'src/stores/basicStore';
import axiosFailed from 'src/functions/proxy/AxiosFailed';
import updateField from 'src/functions/client/updateField';
import NextOfKinTable from '../clients/NextOfKinTable.vue';
import type Client from 'src/types/Client';
import type { AxiosResponse } from 'axios';

const clientStore = useClientStore();
const basicStore = useBasicStore();

interface Props {
  clientId?: number;
}
const props = withDefaults(defineProps<Props>(), {
  clientId: undefined
});
const emit = defineEmits(['update-step']);

const formattedDateOfBirth = computed(() => {
  if (props.clientId && clientStore.clients[props.clientId].dateOfBirth) {
    const parsedDate = parseISO(
      clientStore.clients[props.clientId].dateOfBirth
    );
    return format(parsedDate, 'dd/MM/yy');
  }
  return '';
});

const clientValid = computed(() => {
  if (props.clientId) {
    const { address, phoneNumber, dateOfBirth, nextOfKin } =
      clientStore.clients[props.clientId];
    return !!(
      address &&
      phoneNumber &&
      dateOfBirth &&
      nextOfKin &&
      nextOfKin.length > 0
    );
  }
  return false;
});

const finishAdditionalSetup = (): null | Promise<void> => {
  if (props.clientId) {
    const clientId = props.clientId;
    return basicStore.http
      .patch(`clients/${props.clientId}/update/`, {
        additionalInfoSetup: true
      })
      .then(() => {
        clientStore.setSetupClient(clientStore.clients[clientId]);
        emit('update-step', 3);
      })
      .catch(axiosFailed);
  }
  return null;
};

const updateFieldFromRowBlur = (
  event: Event
): Promise<void | AxiosResponse> | null => {
  const input = event.target as HTMLInputElement;
  return updateFieldFromRow(input.id.slice(0, -5) as keyof Client);
};

const context = {
  updateField
};

const updateFieldFromRow = (
  rowValue: keyof Client
): Promise<void | AxiosResponse> | null => {
  if (props.clientId) {
    const fieldValue = clientStore.clients[props.clientId][rowValue] as
      | boolean
      | string;
    return context.updateField(fieldValue, rowValue, props.clientId);
  }
  return null;
};

const maxDateToday = (date: string): boolean => {
  const today = format(new Date(), 'yyyy/MM/dd');
  return date >= '1910/01/01' && date <= today;
};

const clientData: {
  text: string;
  value: 'address' | 'gender' | 'phoneNumber' | 'dateOfBirth';
  editable?: boolean;
  maxlength?: number;
  icon: string;
  choices?: string[];
  fieldType?: string;
  type?: 'tel' | 'number' | 'text';
  menu?: boolean;
  rules?: ((v: string) => string | boolean)[];
}[] = [
  {
    text: 'Address',
    value: 'address',
    editable: true,
    maxlength: 512,
    icon: mdiHome,
    type: 'text',
    rules: [(v: string): string | boolean => !!v || 'Address is required']
  },
  {
    text: 'Gender',
    value: 'gender',
    fieldType: 'choice',
    choices: ['Female', 'Male', 'Unknown'],
    icon: mdiGenderMaleFemaleVariant
  },
  {
    text: 'Phone Number',
    value: 'phoneNumber',
    editable: true,
    maxlength: 20,
    icon: mdiPhone,
    type: 'tel',
    rules: [(v: string): string | boolean => !!v || 'Phone Number is required']
  },
  {
    text: 'Date Of Birth',
    value: 'dateOfBirth',
    editable: true,
    icon: mdiCalendar,
    menu: false
  }
];
</script>
