<template>
  <q-form id="clientForm" @submit.prevent
    ><div class="row q-pa-md">
      <div class="col-12 col-sm-6">
        <q-input
          v-model="firstName"
          for="firstNameInput"
          :rules="[v => !!v || 'First Name is required']"
          bottom-slots
          :error="firstNameErrors.length > 0"
          :error-message="firstNameErrors[0]"
          label="First Name"
          required
          counter
          maxlength="128"
          autofocus
        />
      </div>
      <div class="col-12 col-sm-6">
        <q-input
          v-model="surname"
          for="surnameInput"
          :rules="[v => !!v || 'Surname is required']"
          bottom-slots
          :error="surnameErrors.length > 0"
          :error-message="surnameErrors[0]"
          label="Surname"
          required
          maxlength="256"
          counter
        />
      </div>
    </div>
    <q-separator />
    <q-list id="centresList" class="q-mb-md">
      <h6 class="text-center q-mb-sm">Subscribed Centres</h6>
      <q-item v-for="centre in centres" :key="centre.id" tag="label">
        <q-item-section side top>
          <q-checkbox v-model="selectedCentres" size="lg" :val="centre.id" />
        </q-item-section>
        <q-item-section>
          <q-item-label class="centreName">{{ centre.name }}</q-item-label>
        </q-item-section>
      </q-item>
    </q-list>
    <q-separator class="q-mb-md" />
    <q-btn
      id="clientBasicInfoSubmit"
      :disabled="!isValid"
      color="primary"
      @click="validateClient"
      >Continue</q-btn
    >
  </q-form>
</template>
<script lang="ts" setup>
import { computed, ref, watch } from 'vue';
import { useBasicStore } from 'src/stores/basicStore';
import { useClientStore } from 'src/stores/clientsStore';
import axiosFailed from 'src/functions/proxy/AxiosFailed';
import { useCentreStore } from 'src/stores/centresStore';
import { useUserStore } from 'src/stores/userStore';
import type CustomAxiosError from 'src/types/CustomAxiosError';
import type ClientResponse from 'src/types/axios/ClientResponse';

const emit = defineEmits(['update-client-id', 'update-step']);
const basicStore = useBasicStore();
const clientStore = useClientStore();
const centreStore = useCentreStore();
const userStore = useUserStore();

const firstName = ref('');

const selectedCentres = ref<number[]>([]);

const surname = ref('');

const firstNameErrors = ref<string[]>([]);

const surnameErrors = ref<string[]>([]);

const isValid = computed(
  () =>
    !!firstName.value &&
    firstNameErrors.value.length === 0 &&
    !!surname.value &&
    surnameErrors.value.length === 0 &&
    selectedCentres.value.length > 0
);

const validateClient = (): null | Promise<void> => {
  if (isValid.value) {
    return context.createClient();
  }
  return null;
};

const createClient = (): Promise<void> => {
  return basicStore.http
    .post('clients/', {
      firstName: firstName.value,
      surname: surname.value,
      centres: selectedCentres.value,
      basicInfoSetup: true
    })
    .then(context.upsertClientSuccessful)
    .catch(context.upsertFailed);
};

const upsertClientSuccessful = (response: ClientResponse): void => {
  context.emit('update-client-id', response.data.id);
  clientStore.updateClient(response.data);
  clientStore.setSetupClient(response.data);
  context.emit('update-step', 2);
};

const upsertFailed = (err: CustomAxiosError): void => {
  const postError = err as {
    response?: {
      data?: {
        firstName?: string[];
        surname?: string[];
      };
    };
  };
  if (postError.response?.data) {
    if (postError.response.data.firstName) {
      firstNameErrors.value = postError.response.data.firstName;
    } else {
      firstNameErrors.value = [];
    }
    if (postError.response.data.surname) {
      surnameErrors.value = postError.response.data.surname;
    } else {
      surnameErrors.value = [];
    }
  }
  axiosFailed(err);
};

watch(firstName, () => {
  firstNameErrors.value = [];
});

watch(surname, () => {
  surnameErrors.value = [];
});

const centres = computed(() =>
  Object.keys(centreStore.centres)
    .map(centreKey => centreStore.centres[centreKey])
    .filter(centre => centre.setupComplete)
    .filter(centre => userStore.user.centres?.includes(centre.id))
);

const context = {
  emit,
  upsertFailed,
  upsertClientSuccessful,
  createClient
};
</script>
