<template>
  <div>
    <div v-if="props.clientId">
      <div v-for="(row, index) in clientData" :key="row.value" class="row">
        <div class="col-12 col-sm-6">
          <q-input
            v-model="clientStore.clients[props.clientId][row.value]"
            :for="`${row.value}Input`"
            :label="row.text"
            :maxlength="row.maxlength"
            :autofocus="index === 0"
            @blur="updateFieldFromRowBlur"
          >
            <template #prepend>
              <q-icon :name="row.icon" />
            </template>
          </q-input>
        </div>
        <div class="col-12 col-sm-6">
          <q-input
            v-model="clientStore.clients[props.clientId][row.phoneValue]"
            :for="`${row.phoneValue}Input`"
            :label="`${row.text} Phone Number`"
            maxlength="20"
            type="tel"
            @blur="updateFieldFromRowBlur"
          >
            <template #prepend>
              <q-icon :name="mdiPhone" />
            </template>
          </q-input>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <q-input
            v-model="clientStore.clients[props.clientId].medicalHistory"
            type="textarea"
            for="medicalHistoryInput"
            label="Medical History"
            @blur="updateFieldFromRowBlur"
          >
            <template #prepend>
              <q-icon :name="mdiClipboardTextMultiple" />
            </template>
          </q-input>
        </div>
        <div class="col-12 col-sm-6">
          <q-input
            v-model="clientStore.clients[props.clientId].surgicalHistory"
            type="textarea"
            for="surgicalHistoryInput"
            label="Surgical History"
            class="ma-2"
            @blur="updateFieldFromRowBlur"
          >
            <template #prepend>
              <q-icon :name="mdiClipboardPlus" />
            </template>
          </q-input>
        </div>
      </div>
    </div>
    <div class="text-center">
      <medications-table
        :client-id="props.clientId"
        class="q-ma-auto q-pa-md"
      />
    </div>
    <q-btn
      id="clientServicesSubmit"
      color="primary"
      @click="finishServicesSetup"
      >Continue</q-btn
    >
  </div>
</template>
<script lang="ts" setup>
import {
  mdiClipboardPlus,
  mdiClipboardTextMultiple,
  mdiDoctor,
  mdiFolderHeart,
  mdiHomeHeart,
  mdiMortarPestlePlus,
  mdiPhone
} from '@mdi/js';
import { useBasicStore } from 'src/stores/basicStore';
import { useClientStore } from 'src/stores/clientsStore';
import axiosFailed from 'src/functions/proxy/AxiosFailed';
import updateField from 'src/functions/client/updateField';
import MedicationsTable from '../clients/MedicationsTable.vue';
import type Client from 'src/types/Client';
import type { AxiosResponse } from 'axios';

const clientStore = useClientStore();
const basicStore = useBasicStore();

interface Props {
  clientId?: number;
}
const props = withDefaults(defineProps<Props>(), {
  clientId: undefined
});
const emit = defineEmits(['update-step']);

const finishServicesSetup = (): Promise<void> | null => {
  if (props.clientId) {
    const clientId = props.clientId;
    return basicStore.http
      .patch(`clients/${props.clientId}/update/`, {
        servicesSetup: true
      })
      .then(() => {
        clientStore.setSetupClient(clientStore.clients[clientId]);
        emit('update-step', 4);
      })
      .catch(axiosFailed);
  }
  return null;
};

const clientData: {
  text: string;
  value: 'gpName' | 'homeHelpName' | 'chemistName' | 'publicHealthNurseName';
  editable?: boolean;
  maxlength?: number;
  icon: string;
  choices?: string[];
  rules?: ((v: string) => string | boolean)[];
  phoneValue:
    | 'gpPhoneNumber'
    | 'publicHealthNursePhoneNumber'
    | 'homeHelpPhoneNumber'
    | 'chemistPhoneNumber';
}[] = [
  {
    text: 'Doctor',
    value: 'gpName',
    editable: true,
    maxlength: 512,
    icon: mdiDoctor,
    phoneValue: 'gpPhoneNumber'
  },
  {
    text: 'Public Health Nurse',
    value: 'publicHealthNurseName',
    editable: true,
    maxlength: 512,
    icon: mdiFolderHeart,
    phoneValue: 'publicHealthNursePhoneNumber'
  },
  {
    text: 'Home Help',
    value: 'homeHelpName',
    editable: true,
    maxlength: 512,
    icon: mdiHomeHeart,
    phoneValue: 'homeHelpPhoneNumber'
  },
  {
    text: 'Chemist',
    value: 'chemistName',
    editable: true,
    maxlength: 512,
    icon: mdiMortarPestlePlus,
    phoneValue: 'chemistPhoneNumber'
  }
];

const context = {
  updateField
};

const updateFieldFromRowBlur = (
  event: Event
): Promise<void | AxiosResponse> | null => {
  if (props.clientId) {
    const input = event.target as HTMLInputElement;
    const rowValue = input.id.slice(0, -5) as keyof Client;
    const fieldValue = clientStore.clients[props.clientId][rowValue] as
      | boolean
      | string;
    return context.updateField(fieldValue, rowValue, props.clientId);
  }
  return null;
};
</script>
