<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Welcome to YAPCA</title>
</head>

<body>
    <p>Hello {{ displayName }}!</p>
    <p>You've just finished your account registration with YAPCA</p>
    {% include "email/footer/footer.html" %}
</body>

</html>