<template>
  <q-card-section>
    <p id="policyAgreeInfoText">
      {{ cardText }} Before this client can be edited you must click agree. By
      clicking agree you accept that this client has accepted the
      {{ policyPlural }} below.
    </p>
    <unagreed-policies-view :unagreed-policies="unagreedPolicies" />
  </q-card-section>
  <card-confirm-buttons
    confirm-button-id="policyAgreeButton"
    confirm-button-color="positive"
    @confirm-button-clicked="acceptPolicies"
  />
</template>

<script lang="ts" setup>
import { computed, ref } from 'vue';
import updatePolicies from 'src/functions/policies/updatePolicies';
import CardConfirmButtons from 'src/components/ui/CardConfirmButtons.vue';
import UnagreedPoliciesView from './UnagreedPolicies.vue';
import type UnagreedPolicies from 'src/types/UnagreedPolicies';

interface Props {
  clientId: number | undefined;
  unagreedPolicies: UnagreedPolicies[];
}
const props = withDefaults(defineProps<Props>(), {
  clientId: undefined,
  unagreedPolicies: () => []
});

const loading = ref(false);

const acceptPolicies = (): Promise<void> | null => {
  if (props.clientId) {
    loading.value = true;
    return updatePolicies(props.clientId).then(() => {
      loading.value = false;
    });
  }
  return null;
};

const totalUnagreedPolicies = computed(() => {
  let total = 0;
  props.unagreedPolicies.forEach((centre: UnagreedPolicies) => {
    total += centre.unagreedPolicies.length;
  });

  return total;
});

const policyPlural = computed(() => {
  if (totalUnagreedPolicies.value === 1) {
    return 'policy';
  }
  return 'policies';
});

const cardText = computed(() => {
  if (totalUnagreedPolicies.value === 1) {
    return 'A new policy has been added.';
  }
  return `${totalUnagreedPolicies.value} new policies have been added.`;
});
</script>
