<template>
  <div class="daySelector justify-center items-center">
    <day-selector
      :selected-days="selectedDays"
      :available-days="filteredDays"
      :readonly="isClient"
      @update-selected-day="updateDays"
    />
  </div>
</template>

<script lang="ts" setup>
import DaySelector from 'src/components/ui/DaySelector.vue';
import { useCentreStore } from 'src/stores/centresStore';
import { computed, ref, watch } from 'vue';
import { useBasicStore } from 'src/stores/basicStore';
import axiosFailed from 'src/functions/proxy/AxiosFailed';
import { useClientStore } from 'src/stores/clientsStore';
import isClient from 'src/functions/auth/isClient';
import type { AxiosResponse } from 'axios';
import type VisitingDay from 'src/types/VisitingDay';

const centreStore = useCentreStore();
const basicStore = useBasicStore();
const clientStore = useClientStore();

interface Props {
  centreId: number | undefined;
  clientId: number | undefined;
}
const props = withDefaults(defineProps<Props>(), {
  centreId: undefined,
  clientId: undefined
});

const days = computed(() => {
  if (
    props.clientId &&
    props.clientId in clientStore.clients &&
    clientStore.clients[props.clientId].visitingDays
  ) {
    const visitingDays = clientStore.clients[props.clientId]
      .visitingDays as VisitingDay[];
    return visitingDays
      .filter(
        (visitingDay: VisitingDay) => visitingDay.centre === props.centreId
      )
      .map((visitingDay: VisitingDay) => visitingDay.day);
  }
  return [];
});

const selectedDays = ref<number[]>([]);
const loaded = ref(false);

const setDaysFromStore = (): void => {
  if (days.value.length > 0) {
    selectedDays.value = days.value.map((day: number) => day - 1);
  }
  loaded.value = true;
};

watch(days, () => {
  return setDaysFromStore();
});

const filteredDays = computed(() => {
  const allDays = dayArray;
  if (props.centreId && props.centreId in centreStore.centres) {
    const centreId = props.centreId;
    return allDays.filter(day =>
      centreStore.centres[centreId].openingDays?.includes(day + 1)
    );
  }
  return [];
});

const updateDays = (day: number): Promise<void | AxiosResponse> | null => {
  if (loaded.value && props.clientId) {
    if (selectedDays.value.includes(day)) {
      // The day is being set inactive
      selectedDays.value.splice(selectedDays.value.indexOf(day), 1);
    } else {
      selectedDays.value.push(day);
    }

    return basicStore.http
      .patch(`clients/${props.clientId}/update/`, {
        visitingDays: selectedDays.value.map((selectedDay: number) => {
          return {
            centre: props.centreId,
            day: selectedDay + 1
          };
        })
      })
      .catch(axiosFailed);
  }
  return null;
};

const dayArray = [...Array.from({ length: 7 }).keys()];

setDaysFromStore();
</script>
