<template>
  <q-card flat>
    <q-card-section>
      <div class="col">
        <p class="text-center">Visiting Days</p>
        <client-day-selector
          :days="
            props.clientId && clientStore.clients[props.clientId].visitingDays
          "
          :centre-id="centreId"
          :client-id="clientId"
        />
        <div v-if="needs" class="q-mt-xl">
          <p class="text-center">
            Needs
            <q-btn
              v-if="!isClient"
              id="needsEditIcon"
              flat
              round
              :icon="mdiPencil"
              @click="openNeedsEditDialog"
            />
          </p>
          <needs-table :centre-id="centreId" :client-id="clientId" />
        </div>
      </div>
    </q-card-section>
    <q-card-actions>
      <q-btn
        id="viewCentreButton"
        flat
        class="full-width"
        color="primary"
        @click="showCentreDialog = true"
      >
        View Centre
      </q-btn>
    </q-card-actions>
    <dialog-card
      v-if="props.centreId"
      dialog-id="centreDialog"
      :card-title="centreStore.centres[props.centreId].name"
      :prop-show-dialog="showCentreDialog"
      @set-dialog="setCentreDialog"
    >
      <centre-dialog
        v-if="centreId && showCentreDialog"
        :centre-id="centreId"
        @close-dialog="closeCentreDialog"
      />
    </dialog-card>

    <dialog-card
      dialog-id="needsListDialog"
      card-title="Needs"
      :prop-show-dialog="showNeedsEditDialog"
      @set-dialog="setNeedsEditDialog"
    >
      <needs-list :client-id="clientId" :centre-id="centreId" />
    </dialog-card>
  </q-card>
</template>

<script lang="ts" setup>
import { mdiPencil } from '@mdi/js';
import { useCentreStore } from 'src/stores/centresStore';
import { ref } from 'vue';
import { useClientStore } from 'src/stores/clientsStore';
import DialogCard from 'src/components/ui/DialogCard.vue';
import isClient from 'src/functions/auth/isClient';
import CentreDialog from '../centres/CentreDialog.vue';

import ClientDaySelector from './ClientDaySelector.vue';
import NeedsList from './NeedsList.vue';
import NeedsTable from './NeedsTable.vue';

const centreStore = useCentreStore();
const clientStore = useClientStore();

interface Props {
  clientId: number | undefined;
  centreId: number | undefined;
  needs?: boolean;
}
const props = withDefaults(defineProps<Props>(), {
  clientId: undefined,
  centreId: undefined,
  needs: false
});

const showCentreDialog = ref(false);

const showNeedsEditDialog = ref(false);

const openNeedsEditDialog = (): void => {
  showNeedsEditDialog.value = true;
};

const setCentreDialog = (newValue: boolean): void => {
  showCentreDialog.value = newValue;
};

const setNeedsEditDialog = (newValue: boolean): void => {
  showNeedsEditDialog.value = newValue;
};

const closeCentreDialog = (): void => {
  showCentreDialog.value = false;
};
</script>
