<template>
  <responsive-table
    :headers="needHeaders"
    :rows="needs"
    default-sort="need"
    table-id="needsTable"
    :no-data-label="noDataLabel"
  >
    <template #plan-edit="{ cellData }">
      <popup-edit
        v-if="!isClient"
        empty-text="Click to add plan"
        show-empty-text
        field-name="plan"
        :model="clientStore.clientNeeds[cellData.id].plan"
        :model-id="cellData.id"
        @save-data="updatePlan"
      >
        <q-input
          v-model="clientStore.clientNeeds[cellData.id].plan"
          for="needEditPlanField"
          dense
          maxlength="512"
          label="Plan"
          type="textarea"
        />
      </popup-edit>
    </template>
  </responsive-table>
</template>

<script lang="ts" setup>
import getCentreRelatedData from 'src/functions/centre/getCentreRelatedData';
import axiosFailed from 'src/functions/proxy/AxiosFailed';
import { useBasicStore } from 'src/stores/basicStore';
import { useCentreStore } from 'src/stores/centresStore';
import { useClientStore } from 'src/stores/clientsStore';
import { computed, watch } from 'vue';
import ResponsiveTable from 'src/components/ui/ResponsiveTable.vue';
import PopupEdit from 'src/components/ui/PopupEdit.vue';
import isClient from 'src/functions/auth/isClient';
import type ClientNeed from 'src/types/ClientNeed';
import type { AxiosResponse } from 'axios';

interface Props {
  clientId: number | undefined;
  centreId: number | undefined;
}
const props = withDefaults(defineProps<Props>(), {
  clientId: undefined,
  centreId: undefined
});

const basicStore = useBasicStore();
const clientStore = useClientStore();
const centreStore = useCentreStore();

const needHeaders = [
  { label: 'Need', name: 'need', field: 'need', sortable: true },
  { label: 'Plan', name: 'plan', field: 'plan', sortable: true }
];

const client = computed(() => {
  if (props.clientId && props.clientId in clientStore.clients) {
    return clientStore.clients[props.clientId];
  }
  return undefined;
});

const noDataLabel = computed(() => {
  if (isClient.value) {
    return 'You have no needs for this centre';
  }
  return 'This client has no needs for this centre, click the pencil to add some';
});

const needs = computed(() => {
  if (
    client.value?.needs &&
    props.centreId &&
    props.centreId in centreStore.centres &&
    centreStore.centres[props.centreId].needs
  ) {
    const centreId = props.centreId;

    const clientNeeds = client.value.needs;
    return clientNeeds
      .filter((clientNeedId: number) => clientNeedId in clientStore.clientNeeds)
      .map((clientNeedId: number) => clientStore.clientNeeds[clientNeedId])
      .filter((need: ClientNeed) => need.centre === centreId)
      .filter((need: ClientNeed) => need.isActive)
      .filter((need: ClientNeed) => {
        const centreNeeds = centreStore.centres[centreId].needs as number[];
        // if need is removed/added to centre make sure this updates
        const selectedCentreNeed = centreNeeds.find(
          (centreNeedId: number) => centreNeedId === need.need
        );
        return !!selectedCentreNeed;
      })
      .filter((need: ClientNeed) => need.need in centreStore.needs)
      .map((need: ClientNeed) => {
        const selectedCentreNeed = centreStore.needs[need.need];
        return {
          id: need.id,
          need: selectedCentreNeed.description,
          plan: need.plan
        };
      });
  }
  return [];
});

const updatePlan = (
  needId: number,
  fieldName: keyof ClientNeed,
  newValue: string
): Promise<void | AxiosResponse> => {
  return basicStore.http
    .patch(`clientNeeds/${needId}/update/`, { [fieldName]: newValue })
    .catch(axiosFailed);
};

watch(
  () => props.centreId,
  () => {
    return getNeeds();
  }
);

const getNeeds = (): Promise<void> | null => {
  if (props.centreId) {
    return getCentreRelatedData(props.centreId, 'needs');
  }
  return null;
};
getNeeds()?.catch((err: Error) => err);
</script>
