<template>
  <div>
    <div class="row">
      <div
        v-for="(
          centreUnagreedPolicies, unagreedPoliciesIndex
        ) in props.unagreedPolicies"
        :key="centreUnagreedPolicies.centre"
        :class="`unagreedPoliciesCentre q-pa-md ${autoColSize(
          'md',
          props.unagreedPolicies.length,
          unagreedPoliciesIndex
        )}`"
      >
        <div v-if="centreUnagreedPolicies.centre in centreStore.centres">
          <h5 class="text-center unagreedPoliciesCentreHeader">
            {{ centreStore.centres[centreUnagreedPolicies.centre].name }}
          </h5>
          <q-virtual-scroll
            v-slot="{ item, index }"
            :items="centreUnagreedPolicies.unagreedPolicies"
            separator
            style="max-height: 300px"
          >
            <q-item
              :key="`item-${index}`"
              tag="label"
              class="addUserCentreSelectListItem"
            >
              <q-item-section>
                <q-item-label
                  class="text-center unagreedPoliciesCentrePolicyText"
                  >{{ item.description }}</q-item-label
                >
              </q-item-section>
            </q-item>
          </q-virtual-scroll>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import autoColSize from 'src/functions/common/autoColSize';
import { useCentreStore } from 'src/stores/centresStore';
import type UnagreedPolicies from 'src/types/UnagreedPolicies';

interface Props {
  unagreedPolicies: UnagreedPolicies[];
}
const props = withDefaults(defineProps<Props>(), {
  unagreedPolicies: () => []
});

const centreStore = useCentreStore();
</script>
