<template>
  <q-card-section>
    <q-list id="centresList" class="q-mb-md">
      <h6 class="text-center q-mb-sm">Subscribed Centres</h6>
      <q-item
        v-for="centre in centres"
        :key="centre.id"
        tag="label"
        class="centreName"
        @click="updateCentre(centre)"
      >
        <q-item-section side top>
          <q-checkbox :model-value="clientCentres" size="lg" :val="centre.id" />
        </q-item-section>
        <q-item-section>
          <q-item-label>{{ centre.name }}</q-item-label>
        </q-item-section>
      </q-item>
    </q-list>
  </q-card-section>
</template>

<script lang="ts" setup>
import { computed, ref, watch } from 'vue';
import { useClientStore } from 'src/stores/clientsStore';
import { useUserStore } from 'src/stores/userStore';
import { useCentreStore } from 'src/stores/centresStore';
import { Notify } from 'quasar';
import { useBasicStore } from 'src/stores/basicStore';
import axiosFailed from 'src/functions/proxy/AxiosFailed';
import type { AxiosResponse } from 'axios';
import type Centre from 'src/types/Centre';

interface Props {
  clientId: number | undefined;
}
const props = withDefaults(defineProps<Props>(), {
  clientId: undefined
});
const basicStore = useBasicStore();
const clientStore = useClientStore();
const userStore = useUserStore();
const centreStore = useCentreStore();

const selectedCentres = ref<Centre[]>([]);

const loaded = ref(false);

const clientCentres = computed(() => {
  if (
    props.clientId &&
    props.clientId in clientStore.clients &&
    clientStore.clients[props.clientId].centres
  ) {
    const centres = clientStore.clients[props.clientId].centres as number[];
    return centres.filter((centreId: number) =>
      userStore.user.centres?.includes(centreId)
    );
  }
  return [];
});

watch(
  clientCentres,
  () => {
    if (props.clientId) {
      loaded.value = false;
      selectedCentres.value = Object.keys(centreStore.centres)
        .map(centreKey => centreStore.centres[centreKey])
        .filter(centre => clientCentres.value.includes(centre.id));
      loaded.value = true;
    }
  },
  { immediate: true }
);

const updateCentre = (centre: Centre): Promise<void | AxiosResponse> | null => {
  // Check if the centre was selected or unselected
  // If selected, post to endpoint
  // If unselected, delete
  const selected = !clientCentres.value.includes(centre.id);
  if (props.clientId && loaded.value) {
    if (!selected && selectedCentres.value.length === 1) {
      Notify.create({
        type: 'warning',
        message: 'Client must have at least one centre.'
      });
      return null;
    }
    if (selected) {
      return basicStore.http
        .post(`clients/centres/update/`, {
          client: props.clientId,
          centre: centre.id
        })
        .catch(axiosFailed);
    }
    return basicStore.http
      .delete(`clients/centres/update/`, {
        data: {
          client: props.clientId,
          centre: centre.id
        }
      })
      .catch(axiosFailed);
  }
  return null;
};

const centres = computed(() => {
  return Object.keys(centreStore.centres)
    .map(centreKey => centreStore.centres[centreKey])
    .filter(centre => centre.setupComplete)
    .filter(centre => userStore.user.centres?.includes(centre.id));
});
</script>
