<p>How to for YAPCA apps:</p>

<p style="margin-left: 40px;">1. Make sure you have YAPCA installed on your device. Once that's done go to step 2.
</p>
<p style="margin-left: 80px;">If you do not, select a version below and install it before continuing.</p>
<p style="margin-left: 80px;"><a href="{{ links.windows }}"
        style="position: relative; margin: 0px; padding: 0; overflow: hidden; border-width: 0; outline: none; border-radius: 2px; box-shadow: 0 1px 4px rgba(0, 0, 0, .6); background-color: #2ecc71; color: #ecf0f1; text-decoration: none; display: inline-block; width: 280px !important; text-align: center;"><span>Download
            YAPCA For Windows</span></a></p>
<p style="margin-left: 80px;"><a href="{{ links.linux }}"
        style="position: relative; margin: 0px; padding: 0; overflow: hidden; border-width: 0; outline: none; border-radius: 2px; box-shadow: 0 1px 4px rgba(0, 0, 0, .6); background-color: #2ecc71; color: #ecf0f1; text-decoration: none; display: inline-block; width: 280px !important; text-align: center;"><span>Download
            YAPCA For Linux</span></a></p>