<template>
  <q-card-section>
    <q-list
      v-if="centres.length > 1"
      id="centresList"
      class="full-width q-pt-md q-pb-md"
    >
      <span>Select centres {{ clientName }} was absent from</span><br />
      <q-item
        v-for="(centre, i) in centreNames"
        :key="`item-${i}`"
        tag="label"
        class="centreListItem"
      >
        <q-item-section side top>
          <q-checkbox
            v-model="selectedCentres"
            class="centreListItemCheckbox"
            :val="centre"
          />
        </q-item-section>
        <q-item-section>
          <q-item-label class="centreName">{{ centre.text }}</q-item-label>
        </q-item-section>
      </q-item>
    </q-list>

    <q-input
      v-for="centre in selectedCentres"
      :key="centre.value"
      v-model="reasonForAbsences[centre.value]"
      type="textarea"
      autogrow
      maxlength="512"
      :label="`Reason For Absence From ${centre.text} (If Known)`"
      autofocus
      class="reasonForAbsenceTextField"
    />
  </q-card-section>
  <card-confirm-buttons
    confirm-button-text="Submit Absence"
    confirm-button-color="primary"
    confirm-button-id="submitAbsenceButton"
    :confirm-button-valid="selectedCentres.length > 0"
    @confirm-button-clicked="submitAbsences"
  />
</template>

<script lang="ts" setup>
import { computed, ref, watch } from 'vue';
import { useClientStore } from 'src/stores/clientsStore';
import { useCentreStore } from 'src/stores/centresStore';
import { useUserStore } from 'src/stores/userStore';
import { useBasicStore } from 'src/stores/basicStore';
import axiosFailed from 'src/functions/proxy/AxiosFailed';
import CardConfirmButtons from 'src/components/ui/CardConfirmButtons.vue';
import type AbsenceRecord from 'src/types/AbsenceRecord';

interface Props {
  clientId: number | undefined;
  date: string;
  centres: number[];
}
const props = withDefaults(defineProps<Props>(), {
  clientId: undefined,
  date: '',
  centres: () => []
});
const emit = defineEmits(['close-dialog']);

const basicStore = useBasicStore();
const clientStore = useClientStore();
const centreStore = useCentreStore();
const userStore = useUserStore();

const reasonForAbsences = ref<Record<number, string>>({});
const selectedCentres = ref<{ text: string; value: number }[]>([]);

const clientName = computed(() => {
  if (props.clientId && props.clientId in clientStore.clients) {
    return clientStore.clients[props.clientId].firstName;
  }
  return '';
});

const centreNames = computed(() => {
  const centreNames: { text: string; value: number }[] = [];
  props.centres.forEach((centreId: number) => {
    if (
      centreId in centreStore.centres &&
      userStore.user.centres?.includes(centreId)
    ) {
      centreNames.push({
        text: centreStore.centres[centreId].name,
        value: centreId
      });
    }
  });
  return centreNames;
});

const submitAbsences = (): Promise<void> => {
  const absences: Partial<AbsenceRecord>[] = [];
  selectedCentres.value.forEach(centre => {
    absences.push({
      date: props.date,
      client: props.clientId,
      centre: centre.value,
      reasonForAbsence: reasonForAbsences.value[centre.value]
    });
  });
  return basicStore.http
    .post(`attendanceRecord/`, absences)
    .then(closeDialog)
    .catch(axiosFailed);
};

const closeDialog = (): void => {
  context.emit('close-dialog');
};

watch(
  () => props,
  () => {
    if (props.centres.length === 1) {
      selectedCentres.value = centreNames.value;
    } else {
      selectedCentres.value = [];
    }
    reasonForAbsences.value = {};
  },
  { immediate: true, deep: true }
);

const context = {
  emit
};
</script>
