<template>
  <q-card-section>
    <q-input
      v-model="search"
      for="historySearch"
      dense
      :label="`Search ${clientName}'s History`"
    >
      <template #append>
        <q-icon :name="mdiMagnify" />
      </template>
    </q-input>

    <responsive-table
      table-id="absenceHistoryTable"
      :loading="loading"
      :headers="absenceHeaders"
      :rows="absences"
      :filter="search"
      no-results-label="No absences found"
      :no-data-label="`${clientName} has no previous absence records`"
      default-sort="date"
      :default-sort-decending="true"
      loading-label="Loading Absence Records..."
      :sort-method="customSort"
    >
      <template #active="{ cellData }">
        <q-icon
          v-if="cellData.active"
          :name="mdiThumbUp"
          color="positive"
          class="activeIcon"
          size="sm"
        />
        <q-icon
          v-else
          size="sm"
          class="inactiveIcon"
          :name="mdiThumbDown"
          color="negative"
        />
      </template>
    </responsive-table>
  </q-card-section>
</template>
<script lang="ts" setup>
import { mdiMagnify, mdiThumbDown, mdiThumbUp } from '@mdi/js';
import { useClientStore } from 'src/stores/clientsStore';
import { useUserStore } from 'src/stores/userStore';
import { computed, ref, watch } from 'vue';
import { useCentreStore } from 'src/stores/centresStore';
import formatDateTime from 'src/functions/date/formatDateTime';
import { useBasicStore } from 'src/stores/basicStore';
import axiosFailed from 'src/functions/proxy/AxiosFailed';
import ResponsiveTable from 'src/components/ui/ResponsiveTable.vue';
import sortAlphabetically from 'src/functions/common/sortAlphabetically';
import type AbsencesResponse from 'src/types/axios/AbsencesResponse';
import type AbsenceRecord from 'src/types/AbsenceRecord';

interface Props {
  clientId: number | undefined;
}
const props = withDefaults(defineProps<Props>(), {
  clientId: undefined
});

const basicStore = useBasicStore();
const userStore = useUserStore();
const clientStore = useClientStore();
const centreStore = useCentreStore();

const loading = ref(true);
const search = ref('');

const absenceHeaders = [
  {
    label: 'Date',
    name: 'date',
    field: 'date',
    sortable: true
  },
  {
    label: 'Centre',
    name: 'centre',
    field: 'centre',
    sortable: true
  },
  {
    label: 'Reason For Absence',
    name: 'reasonForAbsence',
    field: 'reasonForAbsence',
    sortable: true
  },
  {
    label: 'Client Was Active',
    name: 'active',
    field: 'active',
    sortable: true
  },
  {
    label: 'Reason For Inactivity',
    name: 'reasonForInactivity',
    field: 'reasonForInactivity',
    sortable: true
  },
  {
    label: 'Added By',
    name: 'addedBy',
    field: 'addedBy',
    sortable: true
  }
];

const clientName = computed(() => {
  if (props.clientId && props.clientId in clientStore.clients) {
    return clientStore.clients[props.clientId].firstName;
  }
  return '';
});

const absences = computed(() => {
  return Object.keys(clientStore.absenceRecords)
    .map(absenceKey => {
      return {
        ...clientStore.absenceRecords[absenceKey]
      };
    })
    .filter((absence: AbsenceRecord) => absence.client === props.clientId)
    .filter((absence: AbsenceRecord) => absence.centre in centreStore.centres)
    .filter((absence: AbsenceRecord) =>
      userStore.user.centres?.includes(absence.centre)
    )
    .map(absence => {
      let { reasonForInactivity, reasonForAbsence } = absence;
      if (absence.active) {
        reasonForInactivity = 'N/A';
      } else {
        reasonForAbsence = 'Inactive';
      }
      let addedBy = 'Auto Generated';
      if (absence.addedBy) {
        if (absence.addedBy in userStore.users) {
          addedBy = userStore.users[absence.addedBy].displayName;
        } else {
          addedBy = 'Unknown';
        }
      }
      return {
        date: formatDateTime(absence.date, false, false),
        centre: centreStore.centres[absence.centre].name,
        reasonForAbsence,
        reasonForInactivity,
        active: absence.active,
        addedBy
      };
    });
});

const getAbsences = (): Promise<void> | null => {
  if (props.clientId) {
    loading.value = true;
    return basicStore.http
      .get(`attendanceRecord/${props.clientId}/`)
      .then((response: AbsencesResponse) => {
        const initialValue = {};
        const newAbsences = response.data.reduce(
          (
            absenceObject: Record<string, AbsenceRecord>,
            absence: AbsenceRecord
          ) => {
            return {
              ...absenceObject,
              [absence.id.toString()]: absence
            };
          },
          initialValue
        );
        clientStore.absenceRecords = {
          ...clientStore.absenceRecords,
          ...newAbsences
        };
        loading.value = false;
      })
      .catch(axiosFailed);
  }
  return null;
};

watch(
  () => props.clientId,
  () => {
    return getAbsences();
  }
);

const customSort = (
  items: readonly AbsenceRecord[],
  sortBy: string,
  isDesc: boolean
): readonly AbsenceRecord[] => {
  const absenceSortBy = sortBy as keyof AbsenceRecord;
  const absences = [...items];
  absences.sort((a: AbsenceRecord, b: AbsenceRecord) => {
    if (absenceSortBy === 'date' && b.id && a.id) {
      if (isDesc) {
        return (
          new Date(clientStore.absenceRecords[b.id].date).getTime() -
          new Date(clientStore.absenceRecords[a.id].date).getTime()
        );
      }
      return (
        new Date(clientStore.absenceRecords[a.id].date).getTime() -
        new Date(clientStore.absenceRecords[b.id].date).getTime()
      );
    }
    return sortAlphabetically(
      a[absenceSortBy] as string,
      b[absenceSortBy] as string,
      isDesc
    );
  });
  return absences;
};

getAbsences()?.catch((err: Error) => err);
</script>
