<template>
  <q-btn
    v-if="client"
    id="carePlanMenuIcon"
    flat
    round
    color="white"
    :icon="mdiDotsVertical"
  >
    <q-menu offset-y>
      <q-list>
        <q-item clickable @click="showClientDialog = true">
          <q-item-section id="viewClientButton"
            >{{ client.firstName }}'s Profile</q-item-section
          >
        </q-item>
        <q-item clickable @click="showCarePlanHistoryDialog = true">
          <q-item-section id="carePlanHistoryButton"
            >{{ client.firstName }}'s Care Plan History</q-item-section
          >
        </q-item>
        <q-item clickable @click="showAbsenceHistoryDialog = true">
          <q-item-section id="absenceHistoryButton"
            >{{ client.firstName }}'s Absence History</q-item-section
          >
        </q-item>
      </q-list>
    </q-menu>
  </q-btn>

  <dialog-card
    v-if="client"
    dialog-id="carePlanHistoryDialog"
    :card-title="`${client.firstName}'s Care Plan History`"
    :prop-show-dialog="showCarePlanHistoryDialog"
    @set-dialog="setCarePlanHistoryDialog"
  >
    <care-plan-history
      :client-id="clientId"
      @close-modal="showCarePlanHistoryDialog = false"
    />
  </dialog-card>

  <dialog-card
    v-if="client"
    dialog-id="absenceHistoryDialog"
    :card-title="`${client.firstName}'s Absence History`"
    :prop-show-dialog="showAbsenceHistoryDialog"
    max-width="600"
    @set-dialog="setAbsenceHistoryDialog"
  >
    <absence-history
      :client-id="clientId"
      @close-modal="showAbsenceHistoryDialog = false"
    />
  </dialog-card>

  <dialog-card
    v-if="client"
    dialog-id="clientDialog"
    :card-title="`${client.firstName} ${client.surname}`"
    :prop-show-dialog="showClientDialog"
    min-width="90%"
    :header-color="selectedClientHeaderColor"
    @set-dialog="setClientDialog"
  >
    <template #header-buttons>
      <client-card-header-buttons :client-id="props.clientId" />
    </template>
    <client-dialog
      :client-id="props.clientId"
      @close-dialog="closeClientDialog"
    />
  </dialog-card>
</template>
<script lang="ts" setup>
import { computed, ref } from 'vue';
import { useClientStore } from 'src/stores/clientsStore';
import { mdiDotsVertical } from '@mdi/js';
import DialogCard from 'src/components/ui/DialogCard.vue';
import CarePlanHistory from 'src/components/carePlans/CarePlanHistory.vue';
import AbsenceHistory from 'src/components/carePlans/AbsenceHistory.vue';
import ClientCardHeaderButtons from 'src/components/clients/ClientCardHeaderButtons.vue';
import ClientDialog from 'src/components/clients/ClientDialog.vue';

const showCarePlanHistoryDialog = ref(false);
const showAbsenceHistoryDialog = ref(false);
const showClientDialog = ref(false);

interface Props {
  clientId: number | undefined;
}
const props = withDefaults(defineProps<Props>(), {
  clientId: undefined
});

const clientStore = useClientStore();

const client = computed(() => {
  if (props.clientId && props.clientId in clientStore.clients) {
    return clientStore.clients[props.clientId];
  }
  return undefined;
});

const setCarePlanHistoryDialog = (newValue: boolean): void => {
  showCarePlanHistoryDialog.value = newValue;
};

const setAbsenceHistoryDialog = (newValue: boolean): void => {
  showAbsenceHistoryDialog.value = newValue;
};

const selectedClientHeaderColor = computed(() => {
  if (client.value?.isActive) {
    return 'primary';
  }
  return 'grey';
});

const setClientDialog = (newValue: boolean): void => {
  showClientDialog.value = newValue;
};

const closeClientDialog = (): void => {
  setClientDialog(false);
};
</script>
