<template>
  <q-card-section class="pa-0">
    <q-item tag="label">
      <q-item-section>
        <q-item-label>Mark all care plans as completed</q-item-label>
      </q-item-section>
      <q-item-section side top>
        <q-checkbox
          class="carePlanCompleteAllCheckbox"
          :model-value="allCompleted"
          @update:model-value="completeCarePlans"
        />
      </q-item-section>
    </q-item>

    <responsive-table
      table-id="carePlansTable"
      :loading="loading"
      :headers="carePlanHeaders"
      :rows="readableCarePlans"
    >
      <template #completed="{ cellData }">
        <q-checkbox
          v-model="cellData.completed"
          class="carePlanCompletedCheckbox"
          @update:model-value="
            updateCarePlan({
              id: cellData.id,
              completed: cellData.completed
            })
          "
        />
      </template>
      <template #comment="{ cellData }">
        <q-input
          v-model="cellData.comment"
          type="textarea"
          autogrow
          class="carePlanCommentTextArea ma-0 pa-0 full-width"
          @blur="
            updateCarePlan({
              id: cellData.id,
              comment: cellData.comment
            })
          "
        />
      </template>
    </responsive-table>
  </q-card-section>
  <q-card-actions class="justify-center">
    <div class="row" style="width: 100%">
      <div class="flex col-12 col-sm-6 q-pa-sm">
        <q-btn
          id="clientAbsentButton"
          :loading="carePlanInputLoading"
          class="full-width"
          color="warning"
          @click="showAbsenceSubmitDialog = true"
          >{{ clientName }} Was Absent</q-btn
        >
      </div>
      <div class="flex col-12 col-sm-6 q-pa-sm text-center">
        <q-btn
          id="carePlanSubmitButton"
          :loading="carePlanInputLoading"
          class="full-width"
          color="primary"
          @click="inputCarePlans"
          >Submit Care Plans</q-btn
        >
      </div>
    </div>
  </q-card-actions>

  <dialog-card
    v-if="props.carePlanAggregate"
    dialog-id="absenceSubmitDialog"
    :card-title="absenceSubmitTitle"
    :prop-show-dialog="showAbsenceSubmitDialog"
    @set-dialog="setAbsenceSubmitDialog"
  >
    <absence-submit-dialog
      v-model:centres="centres"
      :client-id="props.carePlanAggregate.clientId"
      :date="props.carePlanAggregate.date"
      @close-dialog="showAbsenceSubmitDialog = false"
    />
  </dialog-card>
</template>
<script lang="ts" setup>
import { computed, ref, watch } from 'vue';
import { useClientStore } from 'src/stores/clientsStore';
import { useCentreStore } from 'src/stores/centresStore';
import { useUserStore } from 'src/stores/userStore';
import getClientNeedById from 'src/functions/client/getClientNeedById';
import getClient from 'src/functions/client/getClient';
import { useBasicStore } from 'src/stores/basicStore';
import axiosFailed from 'src/functions/proxy/AxiosFailed';
import ResponsiveTable from 'src/components/ui/ResponsiveTable.vue';
import DialogCard from 'src/components/ui/DialogCard.vue';
import formatDateTime from 'src/functions/date/formatDateTime';
import AbsenceSubmitDialog from './AbsenceSubmitDialog.vue';
import type ResponsiveTableHeader from 'src/types/ResponsiveTableHeader';
import type { AxiosResponse } from 'axios';
import type CarePlansResponse from 'src/types/axios/CarePlansResponse';
import type CarePlan from 'src/types/CarePlan';
import type CarePlanAggregate from 'src/types/CarePlanAggregate';

interface Props {
  carePlanAggregate: undefined | CarePlanAggregate;
}
const props = withDefaults(defineProps<Props>(), {
  carePlanAggregate: undefined
});
const emit = defineEmits(['close-dialog']);

const clientStore = useClientStore();
const centreStore = useCentreStore();
const userStore = useUserStore();
const basicStore = useBasicStore();

const showAbsenceSubmitDialog = ref(false);

const loading = ref(true);
const readableCarePlans = ref<
  {
    id: number;
    centre: string;
    need: string;
    plan: string;
    comment: string;
    completed: boolean;
  }[]
>([]);
const carePlanInputLoading = ref(false);
const carePlanHeaders: ResponsiveTableHeader[] = [
  {
    label: 'Centre',
    name: 'centre',
    field: 'centre',
    sortable: false,
    align: 'center'
  },
  {
    label: 'Need',
    name: 'need',
    field: 'need',
    sortable: false,
    align: 'center'
  },
  {
    label: 'Plan',
    name: 'plan',
    field: 'plan',
    sortable: false,
    align: 'center'
  },
  {
    label: 'Comment',
    name: 'comment',
    field: 'commented',
    sortable: false,
    align: 'center'
  },
  {
    label: 'Completed?',
    name: 'completed',
    field: 'completed',
    sortable: false,
    align: 'center'
  }
];

const allCompleted = computed(() => {
  return readableCarePlans.value.every(carePlan => carePlan.completed);
});

const carePlans = computed(() => {
  // eslint-disable-next-line @typescript-eslint/no-unnecessary-condition
  if (props.carePlanAggregate) {
    const carePlanAggregate = props.carePlanAggregate;
    return Object.keys(clientStore.carePlans)
      .map(carePlanKey => {
        return { ...clientStore.carePlans[carePlanKey] };
      })
      .filter((carePlan: CarePlan) => !carePlan.inputted)
      .filter((carePlan: CarePlan) => carePlan.date === carePlanAggregate.date)
      .filter(
        (carePlan: CarePlan) => carePlan.client === carePlanAggregate.clientId
      )
      .filter(
        (carePlan: CarePlan) =>
          carePlan.need in clientStore.clientNeeds &&
          clientStore.clientNeeds[carePlan.need].isActive
      )
      .filter((carePlan: CarePlan) => {
        if (
          clientStore.clientNeeds[carePlan.need].need in centreStore.needs &&
          clientStore.clientNeeds[carePlan.need].centre in centreStore.centres
        ) {
          const centre =
            centreStore.centres[clientStore.clientNeeds[carePlan.need].centre];
          return centre.needs?.includes(
            clientStore.clientNeeds[carePlan.need].need
          );
        }
        return false;
      })
      .filter((carePlan: CarePlan) =>
        userStore.user.centres?.includes(
          clientStore.clientNeeds[carePlan.need].centre
        )
      );
  }
  return [];
});

const clientName = computed(() => {
  if (
    // eslint-disable-next-line @typescript-eslint/no-unnecessary-condition
    props.carePlanAggregate &&
    props.carePlanAggregate.clientId in clientStore.clients
  ) {
    return clientStore.clients[props.carePlanAggregate.clientId].firstName;
  }
  return '';
});

watch(carePlans, () => {
  readableCarePlans.value = carePlans.value.map((carePlan: CarePlan) => {
    const clientNeed = getClientNeedById(carePlan.need);
    return {
      id: carePlan.id,
      centre: clientNeed.centre,
      need: clientNeed.needDescription,
      plan: clientNeed.plan,
      comment: carePlan.comment,
      completed: carePlan.completed
    };
  });
});

const getCarePlans = (): Promise<void> | null => {
  // eslint-disable-next-line @typescript-eslint/no-unnecessary-condition
  if (props.carePlanAggregate) {
    return basicStore.http
      .get(
        `carePlansDetail/${props.carePlanAggregate.clientId}/${props.carePlanAggregate.date}/`
      )
      .then((response: CarePlansResponse) => {
        const initialValue = {};
        const newCarePlans = response.data.reduce(
          (carePlanObject: Record<string, CarePlan>, carePlan: CarePlan) => {
            if (carePlan.id) {
              const updatedCarePlan = { ...carePlan };
              if (carePlan.needObject) {
                centreStore.needs[carePlan.needObject.id] = carePlan.needObject;
                delete updatedCarePlan.needObject;
              }
              return {
                ...carePlanObject,
                [carePlan.id.toString()]: updatedCarePlan
              };
            }
            return carePlanObject;
          },
          initialValue
        );
        clientStore.carePlans = {
          ...clientStore.carePlans,
          ...newCarePlans
        };
      })
      .catch(axiosFailed);
  }
  return null;
};

const context = {
  getCarePlans,
  getClient,
  emit
};

const updateClient = (): Promise<void> => {
  loading.value = true;
  const promises = [];
  if (
    // eslint-disable-next-line @typescript-eslint/no-unnecessary-condition
    props.carePlanAggregate &&
    (!(props.carePlanAggregate.clientId in clientStore.clients) ||
      !clientStore.clients[props.carePlanAggregate.clientId].needs)
  ) {
    promises.push(context.getClient(props.carePlanAggregate.clientId));
  }
  promises.push(context.getCarePlans());
  return Promise.all(promises).then(() => {
    loading.value = false;
  });
};

watch(
  () => props.carePlanAggregate,
  () => {
    return updateClient();
  }
);

watch(carePlans, (carePlans?: CarePlan[], previousCarePlans?: CarePlan[]) => {
  if (
    previousCarePlans &&
    carePlans &&
    carePlans.length === 0 &&
    previousCarePlans.length > 0 &&
    !loading.value
  ) {
    context.emit('close-dialog');
  }
});

const updateCarePlan = (
  carePlan: Partial<CarePlan>
): Promise<void | AxiosResponse> | null => {
  if (carePlan.id) {
    return basicStore.http
      .patch(`carePlans/${carePlan.id}/update/`, carePlan)
      .catch(axiosFailed);
  }
  return null;
};

const centres = computed(() => {
  return carePlans.value
    .map((carePlan: CarePlan) => clientStore.clientNeeds[carePlan.need].centre)
    .filter((value, index, self) => self.indexOf(value) === index)
    .filter(centre => userStore.user.centres?.includes(centre));
});

const inputCarePlans = (): Promise<void> | null => {
  // eslint-disable-next-line @typescript-eslint/no-unnecessary-condition
  if (props.carePlanAggregate) {
    carePlanInputLoading.value = true;
    return basicStore.http
      .get(
        `carePlans/${props.carePlanAggregate.clientId}/${props.carePlanAggregate.date}/input/`
      )
      .then(() => {
        carePlanInputLoading.value = false;
      })
      .catch(axiosFailed);
  }
  return null;
};

const absenceSubmitTitle = computed(() => {
  if (
    // eslint-disable-next-line @typescript-eslint/no-unnecessary-condition
    props.carePlanAggregate &&
    props.carePlanAggregate.clientId in clientStore.clients
  ) {
    return `Create Absence For ${
      clientStore.clients[props.carePlanAggregate.clientId].firstName
    } on ${formatDateTime(props.carePlanAggregate.date, false, true)}`;
  }
  return 'Care Plans';
});

const setAbsenceSubmitDialog = (newValue: boolean): void => {
  showAbsenceSubmitDialog.value = newValue;
};

const completeCarePlans = (): Promise<void | AxiosResponse> | null => {
  // eslint-disable-next-line @typescript-eslint/no-unnecessary-condition
  if (props.carePlanAggregate) {
    let completionType = 'complete';
    if (allCompleted.value) {
      completionType = 'incomplete';
    }
    return basicStore.http
      .get(
        `carePlans/${props.carePlanAggregate.clientId}/${props.carePlanAggregate.date}/${completionType}/`
      )
      .catch(axiosFailed);
  }
  return null;
};

updateClient().catch((error: Error) => error);
</script>
