<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Your YAPCA account was reactivated!</title>
</head>

<body>
    <p>Hello {{ displayName }}!</p>
    <p>An administrator has reactivated your account! You can now log in again.</p>

    <p>Please follow the instructions below to login.</p>
    </br>

    {% if app_version_exists %}
    <p>How to for YAPCA apps:</p>

    <p style="margin-left: 40px;">Make sure you have YAPCA installed on your device.
    </p>
    <p style="margin-left: 80px;">If you do not, select a version below and install it before continuing.</p>
    <p style="margin-left: 80px;"><a href="{{ links.windows }}"
            style="position: relative; margin: 0px; padding: 0; overflow: hidden; border-width: 0; outline: none; border-radius: 2px; box-shadow: 0 1px 4px rgba(0, 0, 0, .6); background-color: #2ecc71; color: #ecf0f1; text-decoration: none; display: inline-block; width: 280px !important; text-align: center;"><span>Download
                YAPCA For Windows</span></a></p>
    <p style="margin-left: 80px;"><a href="{{ links.linux }}"
            style="position: relative; margin: 0px; padding: 0; overflow: hidden; border-width: 0; outline: none; border-radius: 2px; box-shadow: 0 1px 4px rgba(0, 0, 0, .6); background-color: #2ecc71; color: #ecf0f1; text-decoration: none; display: inline-block; width: 280px !important; text-align: center;"><span>Download
                YAPCA For Linux</span></a></p>

    <p style="margin-left: 80px; color: #888888;">If you're having trouble with the link above, click the "Register"
        button in the login page and in the next page enter your email address and the temporary code:
        <code>{{ temp_code }}</code>
        </br>

    {% endif %}
    
    {% if web_version_exists %}
    <p>How to for YAPCA web version:
    <p style="margin-left: 40px;">If you access yapca through a browser, <a href="{{ frontend_address }}"
            style="position: relative; display: inline; margin: 0px; padding: 0; overflow: hidden; border-width: 0; outline: none; width: 110px; border-radius: 2px; box-shadow: 0 1px 4px rgba(0, 0, 0, .6); background-color: #2ecc71; color: #ecf0f1; text-decoration: none;"><span>Click
                Here</span></a></p>
    </br>
    {% endif %}
    </br>
    {% include "email/footer/footer.html" %}
</body>

</html>