<template>
  <div class="col q-pa-md">
    <responsive-table
      id="clientSizeTableWrapper"
      table-id="clientSizeTable"
      :rows="clients"
      :headers="clientSizeHeaders"
      title="Client Storage Usage"
      no-data-label="Clients have no uploaded documents"
      default-sort="formattedStorageSize"
      :default-sort-decending="true"
      @row-clicked="openClientDialog"
    >
      <template #top-extras>
        <q-linear-progress
          size="25px"
          stripe
          rounded
          :value="totalUsagePercentage"
          color="primary"
          @click="exactFileValue = !exactFileValue"
        >
          <div class="absolute-full flex flex-center">
            <q-badge
              id="storageUsageLabel"
              color="white"
              text-color="primary"
              :label="usageText"
            />
          </div>
        </q-linear-progress>
      </template>
    </responsive-table>

    <dialog-card
      v-if="selectedClientId"
      :card-title="clientStore.clients[selectedClientId].firstName"
      :prop-show-dialog="showClientDialog"
      dialog-id="clientDialog"
      dialog-hash="change-password-dialog"
      @set-dialog="
        newValue => {
          showClientDialog = newValue;
        }
      "
    >
      <client-dialog
        :client-id="selectedClientId"
        @close-dialog="closeClientDialog"
      />
    </dialog-card>
  </div>
</template>
<script lang="ts" setup>
import { useClientStore } from 'src/stores/clientsStore';
import { useUserStore } from 'src/stores/userStore';
import { computed, ref, watch } from 'vue';
import { useBasicStore } from 'src/stores/basicStore';
import axiosFailed from 'src/functions/proxy/AxiosFailed';
import mergeItems from 'src/functions/common/mergeItems';
import { Notify } from 'quasar';
import getFileSize from 'src/functions/common/getFileSize';
import DialogCard from '../ui/DialogCard.vue';
import ClientDialog from '../clients/ClientDialog.vue';
import ResponsiveTable from '../ui/ResponsiveTable.vue';
import type { QNotifyUpdateOptions } from 'quasar';
import type ClientsResponse from 'src/types/axios/ClientsResponse';
import type Client from 'src/types/Client';

const userStore = useUserStore();
const clientStore = useClientStore();
const basicStore = useBasicStore();

const selectedClientId = ref<number | null>(null);

const showClientDialog = ref(false);

const exactFileValue = ref(false);
const clientSizeHeaders = [
  {
    label: 'First Name',
    name: 'firstName',
    field: 'firstName',
    sortable: true
  },
  { label: 'Surname', name: 'surname', field: 'surname', sortable: true },
  {
    label: 'Storage Usage',
    name: 'formattedStorageSize',
    field: 'formattedStorageSize',
    sort: (
      _a: string,
      _b: string,
      rowA: { storageSize: number },
      rowB: { storageSize: number }
    ): number => rowA.storageSize - rowB.storageSize,
    sortable: true
  }
];

/* istanbul ignore next */
const maxStorage =
  process.env.VUE_APP_MAX_STORAGE &&
  Number.isInteger(Number.parseInt(process.env.VUE_APP_MAX_STORAGE, 10))
    ? Number.parseInt(process.env.VUE_APP_MAX_STORAGE, 10)
    : 0;

const totalUsage = computed(() => {
  return clients.value.reduce((total, client) => total + client.storageSize, 0);
});

const totalUsagePercentage = computed(() => {
  return totalUsage.value / maxStorage;
});

const clients = computed(() => {
  return Object.keys(clientStore.clients)
    .map(clientKey => {
      return { ...clientStore.clients[clientKey] };
    })
    .filter((client: Client) => client.setupComplete)
    .filter((client: Client) => client.storageSize > 0)
    .map((client: Client) => {
      return {
        id: client.id,
        firstName: client.firstName,
        surname: client.surname,
        storageSize: client.storageSize,
        formattedStorageSize: getFileSize(client.storageSize)
      };
    });
});

const usageText = computed(() => {
  if (exactFileValue.value) {
    return `${getFileSize(totalUsage.value)}/${getFileSize(maxStorage)}`;
  }
  return `${(totalUsagePercentage.value * 100).toFixed(1)}%`;
});

watch(
  () => clientStore.clientsLoading,
  () => {
    if (!clientStore.clientsLoading) {
      // Get all non subbed client total storage
      return basicStore.http
        .get('clients-storage-usage/')
        .then((clientsResponse: ClientsResponse) => {
          return mergeItems(clientsResponse.data, 'clients');
        })
        .catch(axiosFailed);
    }
    return null;
  },
  { immediate: true }
);

const openClientDialog = (row: {
  id: number;
}): null | ((props?: QNotifyUpdateOptions | undefined) => void) => {
  const client = clientStore.clients[row.id];
  if (client.centres) {
    const clientCentres = client.centres;
    if (
      userStore.user.centres?.some((centreId: number) =>
        clientCentres.includes(centreId)
      )
    ) {
      selectedClientId.value = client.id;
      showClientDialog.value = true;
      return null;
    }
  }
  return Notify.create({
    type: 'info',
    message: 'You cannot view this client, they are not in any of your centres'
  });
};

const closeClientDialog = (): void => {
  showClientDialog.value = false;
};
</script>
