<template>
  <q-card-section>
    <div class="row">
      <div id="adminTotpWarning" class="col" primary-title>
        <div class="text-center text-h6 mt-3">
          <q-icon size="xl" :name="mdiAlert" color="warning" />
          <p>WARNING</p>
        </div>
        <p>
          Resetting a users TOTP device must only be used as a
          <strong>LAST RESORT</strong> after the user has lost
          <strong>BOTH</strong>
          their second device and their written down secret key.
        </p>
        <p>
          If the user still has their secret key they can simply import it into
          a TOTP app on another device.
        </p>
        <p>
          If the user has contacted you through email or SMS it may be an
          attacker who has hacked their accounts. For the protection of client
          data it is vital that you
          <strong>CONFIRM IN PERSON</strong> that the user agrees to having
          their device reset and have secure access to their email account.
        </p>
      </div>
    </div>
  </q-card-section>
  <card-confirm-buttons
    confirm-button-text="Send Reset Email"
    @confirm-button-clicked="sendTotpResetEmail"
  />
</template>

<script lang="ts" setup>
import { mdiAlert } from '@mdi/js';
import { useBasicStore } from 'src/stores/basicStore';
import { Notify } from 'quasar';
import axiosFailed from 'src/functions/proxy/AxiosFailed';
import CardConfirmButtons from 'src/components/ui/CardConfirmButtons.vue';
import type CustomAxiosError from 'src/types/CustomAxiosError';

interface Props {
  userId: number | undefined;
}
const props = withDefaults(defineProps<Props>(), {
  userId: undefined
});
const emit = defineEmits(['close-dialog']);

const basicStore = useBasicStore();

const sendTotpResetEmail = (): Promise<void> | null => {
  if (props.userId) {
    return basicStore.http
      .get('request-reset-totp', { params: { userId: props.userId } })
      .then(() => {
        context.emit('close-dialog');
        Notify.create({
          type: 'positive',
          message: 'Email successfully sent!'
        });
      })
      .catch((error: CustomAxiosError) => {
        axiosFailed(error);
        context.emit('close-dialog');
      });
  }
  return null;
};

const context = {
  emit
};
</script>
