<template>
  <div class="col q-pa-md">
    <dialog-card
      dialog-id="addNewUserDialog"
      max-width="600"
      card-title="Add New User"
      :prop-show-dialog="showAddNewUserDialog"
      dialog-hash="add-new-user"
      @set-dialog="
        newValue => {
          showAddNewUserDialog = newValue;
        }
      "
    >
      <add-new-user-dialog @close-dialog="setAddNewUserDialogFalse" />
    </dialog-card>
    <dialog-card
      dialog-id="editUserDialog"
      width="unset"
      :card-title="`Edit ${selectedUser.displayName}`"
      :prop-show-dialog="showEditUserDialog"
      dialog-hash="edit-user"
      @set-dialog="
        newValue => {
          showEditUserDialog = newValue;
        }
      "
    >
      <edit-user-dialog
        ref="editUserDialog"
        :selected-user="selectedUser"
        :groups="groups"
        @close-dialog="setEditUserDialogFalse"
      />
    </dialog-card>
    <responsive-table
      table-id="userListTable"
      :rows="users"
      :headers="userListHeaders"
      title="Users"
      default-sort="displayName"
      @row-clicked="openUserDialogOrNotify"
    />
    <q-btn
      id="addNewUserButton"
      text
      color="primary"
      class="full-width"
      @click="showAddNewUserDialog = true"
    >
      Add New User
    </q-btn>
  </div>
</template>
<script lang="ts" setup>
import { computed, ref } from 'vue';
import { useUserStore } from 'src/stores/userStore';
import axiosFailed from 'src/functions/proxy/AxiosFailed';
import { useBasicStore } from 'src/stores/basicStore';
import getUsers from 'src/functions/proxy/getUsers';
import { Notify } from 'quasar';
import { useRouter } from 'vue-router';
import { useClientStore } from 'src/stores/clientsStore';
import ResponsiveTable from '../ui/ResponsiveTable.vue';
import DialogCard from '../ui/DialogCard.vue';
import EditUserDialog from './EditUserDialog.vue';
import AddNewUserDialog from './AddNewUserDialog.vue';
import type { NavigationFailure } from 'vue-router';
import type Group from 'src/types/Group';
import type GroupsResponse from 'src/types/axios/GroupsResponse';
import type User from 'src/types/User';

const userStore = useUserStore();
const basicStore = useBasicStore();
const clientStore = useClientStore();

const router = useRouter();

const groups = ref<Group[]>([]);

const showAddNewUserDialog = ref(false);

const showEditUserDialog = ref(false);

const selectedUser = ref<Partial<User>>({
  groups: [{ name: '', id: 0 }]
});

const userListHeaders = [
  {
    label: 'Name',
    name: 'displayName',
    field: 'displayName',
    sortable: true
  },
  {
    label: 'Username',
    name: 'username',
    field: 'username',
    sortable: true
  },
  {
    label: 'Email',
    name: 'email',
    field: 'email',
    sortable: true
  },
  {
    label: 'Group',
    name: 'group',
    field: 'group',
    sortable: true
  },
  {
    label: 'Subscribed Centres',
    name: 'centres',
    field: 'centres',
    sortable: true
  }
];

const isCurrentUser = (userId: number): boolean => {
  return userId === userStore.user.id;
};

const editUser = (user: User): void => {
  selectedUser.value = user;
  showEditUserDialog.value = true;
};

const created = (): Promise<void> => {
  getUsers().catch((err: Error) => err);
  return basicStore.http
    .get('groups/')
    .then((response: GroupsResponse) => {
      groups.value = response.data;
    })
    .catch(() => axiosFailed());
};
const users = computed(() => {
  const keys = Object.keys(userStore.users);
  const usersToArray = keys.map(userKey => {
    const user = userStore.users[userKey as unknown as number];
    let centres = 0;
    if (user.centres && user.centres.length > 0) {
      centres = user.centres.length;
    }
    let name = user.displayName;
    if (
      user.client &&
      user.client in clientStore.clients &&
      clientStore.clients[user.client].centres
    ) {
      const client = clientStore.clients[user.client];
      const clientCentres = client.centres as number[];
      const clientName = `${client.firstName} ${client.surname}`;
      centres = clientCentres.length;
      name = clientName;
    }
    return {
      id: user.id,
      displayName: name,
      username: user.username,
      email: user.email,
      group: user.group,
      centres,
      isActive: user.isActive,
      client: user.client
    };
  });
  return usersToArray.filter(user => user.isActive);
});

const openUserDialogOrNotify = (user: User): void => {
  // Open the user dialog if clicking on a user row.
  // Notify if attempting to click own row.
  if (user.id && isCurrentUser(user.id)) {
    Notify.create({
      type: 'info',
      message:
        'Cannot alter your own account here. Please go to the user page.',
      actions: [
        {
          label: 'User Page',
          color: 'white',
          handler: (): void => {
            goToUserSettings().catch((err: Error) => console.error(err));
          }
        }
      ]
    });
  } else {
    editUser(user);
  }
};

const goToUserSettings = (): Promise<void | NavigationFailure | undefined> => {
  return router.push({ name: 'User Settings' });
};

const setEditUserDialogFalse = (): void => {
  showEditUserDialog.value = false;
};

const setAddNewUserDialogFalse = (): void => {
  showAddNewUserDialog.value = false;
};
created().catch((err: Error) => err);
</script>
