<template>
  <q-card-section>
    <span v-if="subscribe" id="userChangeCentreWarningDialogText"
      >Subscribing <strong>{{ props.displayName }}</strong> to
      <strong>{{ props.centreName }}</strong> will allow them to view and modify
      every client in the centre. Only press the accept if you are sure you want
      to give <strong>{{ props.displayName }}</strong> access to these sensitive
      medical records.</span
    >
    <span v-else id="userChangeCentreWarningDialogText"
      >Unsubscribing <strong>{{ props.displayName }}</strong> from
      <strong>{{ props.centreName }}</strong> means they will lose access to
      clients and care plans relating to <strong>{{ props.centreName }}</strong
      >.<br />Are you sure you wish to continue?
    </span>
  </q-card-section>
  <card-confirm-buttons
    confirm-button-text="Continue"
    @confirm-button-clicked="continueCentreUpdate"
  />
</template>

<script lang="ts" setup>
import CardConfirmButtons from 'src/components/ui/CardConfirmButtons.vue';
interface Props {
  subscribe?: boolean;
  centreName?: string;
  displayName?: string;
}
const props = withDefaults(defineProps<Props>(), {
  subscribe: false,
  centreName: '',
  displayName: ''
});
const emit = defineEmits(['continue-centre-update', 'close-dialog']);

const continueCentreUpdate = (): void => {
  context.emit('continue-centre-update');
};

const context = {
  emit
};
</script>
