<template>
  <div class="fullscreen">
    <q-layout view="hHh Lpr lff" container>
      <q-drawer
        id="sidebar"
        :model-value="basicStore.navDrawer"
        :width="180"
        show-if-above
        overlay
        :breakpoint="600"
        persistent
        @update:model-value="
          updateValue => {
            basicStore.navDrawer = updateValue;
          }
        "
      >
        <q-scroll-area :style="sideBorder" class="fit">
          <q-list
            id="sidebar-group"
            :style="`height: ${$q.screen.height}px`"
            padding
          >
            <q-item clickable to="user-settings">
              <q-item-section color="primary" avatar
                ><q-avatar
                  id="sidebar-icon-user-settings"
                  size="26px"
                  text-color="white"
                  color="primary"
                  label
                  >{{ userLetter }}</q-avatar
                ></q-item-section
              >
              <q-item-section id="sidebar-title-user-settings">{{
                displayName
              }}</q-item-section>
            </q-item>
            <q-separator />
            <q-item
              v-for="item in items"
              :key="item.title"
              clickable
              :to="item.link"
            >
              <q-item-section avatar>
                <q-icon :id="`sidebar-icon-${item.link}`" :name="item.icon" />
              </q-item-section>
              <q-item-section :id="`sidebar-title-${item.link}`">{{
                item.title
              }}</q-item-section>
            </q-item>
            <q-separator />
            <q-item clickable @click="logoutUser">
              <q-item-section avatar>
                <q-icon id="sidebar-icon-logout" :name="mdiLocationExit" />
              </q-item-section>
              <q-item-section>Logout</q-item-section>
            </q-item>
          </q-list>
        </q-scroll-area>
      </q-drawer>

      <q-page-container
        :style="`padding-left: ${
          $q.screen.xs ? '0' : '180'
        }px; padding-top: 0px`"
      >
        <q-page>
          <router-view />
        </q-page>
      </q-page-container>
    </q-layout>
  </div>
</template>

<script lang="ts" setup>
import {
  mdiAccountCowboyHat,
  mdiAccountMultiple,
  mdiCalendarWeek,
  mdiClipboardEdit,
  mdiLocationExit,
  mdiStore
} from '@mdi/js';
import { Notify, useQuasar } from 'quasar';
import logout from 'src/functions/auth/logout';
import { useBasicStore } from 'src/stores/basicStore';
import { useClientStore } from 'src/stores/clientsStore';
import { useUserStore } from 'src/stores/userStore';
import { computed, watch } from 'vue';
import { useRouter } from 'vue-router';
import isClient from 'src/functions/auth/isClient';
import type { NavigationFailure } from 'vue-router';
import type Client from 'src/types/Client';

const basicStore = useBasicStore();
const userStore = useUserStore();
const clientStore = useClientStore();

const $q = useQuasar();
const router = useRouter();

const items = computed(() => {
  const defaultItems = [];
  if (
    clientsExist.value &&
    (userStore.user.group === 'admin' ||
      userStore.user.group === 'nurse' ||
      (userStore.user.group === 'client' &&
        userStore.user.permissions?.includes('client_can_view_calendar')))
  ) {
    defaultItems.push({
      title: 'Calendar',
      icon: mdiCalendarWeek,
      link: 'calendar'
    });
  }
  if (userStore.user.group === 'admin' || userStore.user.group === 'nurse') {
    defaultItems.push(
      { title: 'Care Plans', icon: mdiClipboardEdit, link: 'carePlans' },
      {
        title: 'Clients',
        icon: mdiAccountMultiple,
        link: 'clients'
      },
      { title: 'Centres', icon: mdiStore, link: 'centres' }
    );
  }
  if (
    userStore.user.group === 'client' &&
    userStore.user.permissions?.includes('client_can_view_own_data')
  ) {
    defaultItems.push({
      title: 'My Medical Info',
      icon: mdiAccountMultiple,
      link: 'my-medical-info'
    });
  }
  if (userStore.user.group === 'admin') {
    defaultItems.push({
      title: 'Admin',
      icon: mdiAccountCowboyHat,
      link: 'admin'
    });
  }
  return defaultItems;
});

const displayName = computed(() => {
  if (userStore.user.displayName) {
    return userStore.user.displayName;
  } else if (isClient.value && clientStore.activeClient) {
    const clients = Object.keys(clientStore.clients).map(clientKey => {
      return {
        ...clientStore.clients[clientKey]
      };
    });
    if (clients.length > 0) {
      return clients[0].firstName;
    }
  }
  return '';
});

const userLetter = computed(() => {
  return displayName.value.charAt(0).toUpperCase();
});

const sideBorder = computed(() => {
  if ($q.dark.isActive) {
    return '';
  }
  return 'border-right: 1px solid #ddd';
});

const logoutUser = (): Promise<void | NavigationFailure | undefined> => {
  return logout(router);
};

const clientsExist = computed(() => {
  return Object.keys(clientStore.clients)
    .map(clientKey => {
      return { ...clientStore.clients[clientKey] };
    })
    .filter((client: Client) => client.isActive)
    .filter((client: Client) => client.setupComplete)
    .some((client: Client) =>
      userStore.user.centres?.some((centreId: number) =>
        client.centres?.includes(centreId)
      )
    );
});

const updateAdminPage = async (
  currentGroup: string,
  previousGroup: string
): Promise<void> => {
  if (currentGroup === 'admin' && previousGroup && previousGroup !== 'admin') {
    Notify.create({
      type: 'info',
      message: `An admin has changed your group to ${currentGroup}`
    });
  }
  if (
    currentGroup !== 'admin' &&
    previousGroup &&
    previousGroup !== currentGroup
  ) {
    if (router.currentRoute.value.name === 'admin') {
      await router.push({ name: 'Clients' });
    }
    Notify.create({
      type: 'info',
      message: `An admin has changed your group to ${currentGroup}`
    });
  }
};

const updateClientPermissions = async (): Promise<void> => {
  if (
    !userStore.user.permissions?.includes('client_can_view_calendar') &&
    router.currentRoute.value.name === 'calendar'
  ) {
    Notify.create({
      type: 'info',
      message: `Your access to the calendar has been restricted by an admin.`
    });
    await router.push({ name: 'My Medical Info' });
  }
  if (
    !userStore.user.permissions?.includes('client_can_view_own_data') &&
    router.currentRoute.value.name === 'My Medical Info'
  ) {
    Notify.create({
      type: 'info',
      message: `Your access to your medical info has been restricted by an admin.`
    });
    await router.push({ name: 'calendar' });
  }
};
watch(
  () => userStore.user.group,
  (currentGroup, previousGroup) => {
    return updateAdminPage(currentGroup, previousGroup);
  }
);

watch(
  () => userStore.user.permissions,
  () => {
    if (isClient.value) {
      return updateClientPermissions();
    }
    return null;
  }
);

watch(clientsExist, () => {
  if (!clientsExist.value && !isClient.value) {
    Notify.create({
      type: 'info',
      message: 'The only client was removed'
    });
  }
});

watch(
  () => $q.screen.xs,
  () => {
    if ($q.screen.xs) {
      basicStore.navDrawer = false;
    } else {
      basicStore.navDrawer = true;
    }
  },
  { immediate: true }
);
</script>
