<template>
  <div class="daySelector">
    <day-selector
      :selected-days="selectedDays"
      :readonly="!isAdmin"
      @update-selected-day="updateDays"
    />
    <dialog-card
      dialog-id="centreClientDayWarningDialog"
      :card-title="`Some clients visit on ${dayArray[dayConflictDay]}`"
      :prop-show-dialog="showCentreClientDayWarningDialog"
      max-width="600"
      @set-dialog="setCentreClientDayWarningDialog"
    >
      <centre-client-day-warning-dialog
        :client-ids="dayConflictClients"
        :centre-id="centreId"
        :day-id="dayConflictDay"
        @close-dialog="closeDialog"
      />
    </dialog-card>
  </div>
</template>

<script lang="ts" setup>
import DaySelector from 'src/components/ui/DaySelector.vue';
import { useCentreStore } from 'src/stores/centresStore';
import { computed, ref, watch } from 'vue';
import isAdmin from 'src/functions/auth/isAdmin';
import { useBasicStore } from 'src/stores/basicStore';
import axiosFailed from 'src/functions/proxy/AxiosFailed';
import { useClientStore } from 'src/stores/clientsStore';
import DialogCard from 'src/components/ui/DialogCard.vue';
import CentreClientDayWarningDialog from './CentreClientDayWarningDialog.vue';

import type VisitingDay from 'src/types/VisitingDay';
import type { AxiosResponse } from 'axios';

const centreStore = useCentreStore();
const basicStore = useBasicStore();
const clientStore = useClientStore();

interface Props {
  centreId: number | undefined;
}
const props = withDefaults(defineProps<Props>(), {
  centreId: undefined
});

const days = computed(() => {
  if (props.centreId && centreStore.centres[props.centreId].openingDays) {
    return centreStore.centres[props.centreId].openingDays as number[];
  }
  return [];
});

const showCentreClientDayWarningDialog = ref(false);

const selectedDays = ref<number[]>([]);

const dayConflictClients = ref<number[]>([]);
const dayConflictDay = ref(0);

const loaded = ref(false);

const setDaysFromStore = (): void => {
  if (days.value.length > 0) {
    selectedDays.value = days.value.map((day: number) => day - 1);
  }
  loaded.value = true;
};

watch(days, () => {
  return setDaysFromStore();
});

const closeDialog = async (dayId: number): Promise<void> => {
  await context.updateDays(dayId);
  showCentreClientDayWarningDialog.value = false;
};

const updateDays = (day: number): null | Promise<void | AxiosResponse> => {
  if (
    !context.conflictingClients(day) &&
    loaded.value &&
    isAdmin.value &&
    props.centreId
  ) {
    return basicStore.http
      .patch(`centres/${props.centreId}/update/`, {
        openingDays: selectedDays.value.map(
          (selectedDay: number) => selectedDay + 1
        )
      })
      .catch(() => axiosFailed());
  }
  return null;
};

const conflictingClients = (day: number): boolean => {
  if (selectedDays.value.includes(day)) {
    // The day is being set inactive
    const visitingClients = getVisitingClients(day);
    if (visitingClients.length > 0) {
      selectedDays.value.push(day);
      dayConflictDay.value = day;
      dayConflictClients.value = visitingClients;
      showCentreClientDayWarningDialog.value = true;
      return true;
    }
    selectedDays.value.splice(selectedDays.value.indexOf(day), 1);
  } else {
    selectedDays.value.push(day);
  }
  return false;
};

const getVisitingClients = (day: number): number[] => {
  const visitingClients: number[] = [];
  Object.keys(clientStore.clients).forEach((clientKey: string) => {
    if (
      clientStore.clients[clientKey].visitingDays &&
      clientStore.clients[clientKey].isActive &&
      (clientStore.clients[clientKey].visitingDays as VisitingDay[])
        .filter(
          (visitingDay: VisitingDay) => visitingDay.centre === props.centreId
        )
        .map((visitingDay: VisitingDay) => visitingDay.day)
        .includes(day + 1)
    ) {
      visitingClients.push(Number(clientKey));
    }
  });
  return visitingClients;
};

const setCentreClientDayWarningDialog = (newValue: boolean): void => {
  showCentreClientDayWarningDialog.value = newValue;
};

const dayArray = [
  'Monday',
  'Tuesday',
  'Wedednesday',
  'Thursday',
  'Friday',
  'Saturday',
  'Sunday'
];

setDaysFromStore();

const context = {
  updateDays,
  conflictingClients
};
</script>
<style>
.disable-events {
  pointer-events: none;
}
</style>
