<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>You've been invited to YAPCA!</title>
</head>

<body>
    <p>Hello {{ clientName }}!</p>
    <p>You've been invited to join YAPCA. Please follow the instructions below to register.</p>
    </br>

    {% if app_version_exists %}
    {% include "email/how-to-base/how-to-base.html" %}

    <p style="margin-left: 40px;">2. To register <a
            href="https://star-man.gitlab.io/yapca-site/#/uri-linker?address={{ server_address }}&action=client-registration&code={{ temp_code }}&email={{ email }}"
            style="position: relative; margin: 0px; padding: 0; overflow: hidden; border-width: 0; outline: none; width: 110px; border-radius: 2px; box-shadow: 0 1px 4px rgba(0, 0, 0, .6); background-color: #2ecc71; color: #ecf0f1; text-decoration: none;"><span>Click
                Here</span></a></p>


    <p style="margin-left: 80px; color: #888888;">If you're having trouble with the link above, click the "Register"
        button in the login page and in the next page enter your email address and the temporary code:
        <code>{{ temp_code }}</code>
        </br>
    {% endif %}

    {% if web_version_exists %}
    <p>How to for YAPCA web version:
    <p style="margin-left: 40px;">If you access yapca through a browser, <a
            href="{{ frontend_address }}temp-code?action=client-registration&code={{ temp_code }}&email={{ email }}"
            style="position: relative; display: inline; margin: 0px; padding: 0; overflow: hidden; border-width: 0; outline: none; width: 110px; border-radius: 2px; box-shadow: 0 1px 4px rgba(0, 0, 0, .6); background-color: #2ecc71; color: #ecf0f1; text-decoration: none;"><span>Click
                Here</span></a></p>
    </br>
    {% endif %}


    </br>
    <p><strong>The window to register will end: {{ expiry_time|date:'H:i M d' }}. If the time expires you
            will have to request another code.</strong></p>

    {% include "email/footer/footer.html" %}
</body>

</html>