<template>
  <div class="window-height flex flex-center q-ma-auto">
    <q-skeleton v-if="loading" width="535px" height="335px" />
    <q-card v-else id="authPageCard" :square="$q.screen.xs">
      <q-tabs
        v-model="tab"
        indicator-color="transparent"
        class="bg-primary text-white shadow-2 square"
      >
        <q-tab
          v-if="!registerAbility"
          id="loginTab"
          name="login"
          label="Sign In"
        />
        <q-tab
          v-if="registerAbility"
          id="registerTab"
          name="register"
          label="Register"
        />
      </q-tabs>

      <q-tab-panels v-model="tab" animated>
        <q-tab-panel name="register">
          <register ref="register" />
        </q-tab-panel>
        <q-tab-panel name="login">
          <login ref="login" />
        </q-tab-panel>
      </q-tab-panels>
      <q-btn
        v-if="isMobileOrElectron"
        id="returnToServerSetupButton"
        class="full-width"
        color="negative"
        @click="showReturnToServerSetupDialog = true"
      >
        Return to Server Setup
      </q-btn>
    </q-card>

    <q-dialog :model-value="showReturnToServerSetupDialog" width="500">
      <return-to-server-setup-dialog
        @close-dialog="showReturnToServerSetupDialog = false"
      />
    </q-dialog>
  </div>
</template>

<script lang="ts" setup>
import { computed, ref, watch } from 'vue';
import Register from 'src/components/auth/RegisterComponent.vue';
import Login from 'src/components/auth/LoginComponent.vue';
import ReturnToServerSetupDialog from 'src/components/app/ReturnToServerSetupDialog.vue';
import { useQuasar } from 'quasar';
import { useBasicStore } from '../stores/basicStore';
import axiosFailed from '../functions/proxy/AxiosFailed';
import type CustomAxiosError from 'src/types/CustomAxiosError';
import type { AxiosResponse } from 'axios';
import type { ComputedRef } from 'vue';
const basicStore = useBasicStore();

const tab = ref('login');

const loading = ref(true);
const $q = useQuasar();
const showReturnToServerSetupDialog = ref(false);

const registerAbility: ComputedRef<boolean> = computed(
  () => basicStore.registerAbility
);

const isMobileOrElectron: ComputedRef<boolean> = computed(
  () => !!basicStore.platform.electron || !!basicStore.platform.mobile
);

watch(
  registerAbility,
  () => {
    tab.value = registerAbility.value ? 'register' : 'login';
  },
  { immediate: true }
);

basicStore.http
  .get('register-ability/1/')
  .then((response: AxiosResponse) => {
    const responseData = response.data as { canRegister: boolean };
    basicStore.registerAbility = responseData.canRegister;
    loading.value = false;
  })
  .catch((error: CustomAxiosError) => axiosFailed(error));
</script>
