<template>
  <div class="fullscreen">
    <q-layout view="hHh Lpr lff" container>
      <div class="window-height flex flex-center col">
        <q-stepper
          id="clientSetupStepper"
          class="q-pt-none"
          :model-value="step"
          vertical
          done-icon="none"
          active-icon="none"
          error-icon="none"
        >
          <q-btn
            id="clientCreationGoBackButton"
            class="full-width"
            color="primary"
            @click="goToNextPage(router)"
          >
            <div v-if="step > 1">Go Back (You can return later)</div>
            <div v-else>Go Back</div>
          </q-btn>
          <q-step
            :done="step > 1"
            title="Basic Info"
            caption="Provide the name and centres for the client"
            :name="1"
            prefix="1"
          >
            <basic-info
              @update-step="updateStep"
              @update-client-id="updateClientId"
            />
          </q-step>
          <q-step
            :done="step > 2"
            :name="2"
            prefix="2"
            title="Additional Info"
            :caption="`Provide extra info about ${clientName}. All fields in this section are required and you must add at least one next of kin.`"
          >
            <additional-info
              v-if="clientId"
              :client-id="clientId"
              @update-step="updateStep"
            />
          </q-step>

          <q-step
            :done="step > 3"
            :name="3"
            prefix="3"
            title="Services"
            :caption="`Provide info about the services ${clientName} uses. If the client does not use a service, just don't fill it in.`"
          >
            <services
              v-if="clientId"
              :client-id="clientId"
              @update-step="updateStep"
            />
          </q-step>
          <q-step
            :done="step > 4"
            :name="4"
            prefix="4"
            title="Ability"
            :caption="`Provide info about the ability ${clientName} has. Select needs the client has in the dropdown. If the centre does not have a need, click VIEW CENTRE and add the new need. To add a plan for the clients need, click the edit button on the need in the dropdown.`"
          >
            <ability
              v-if="clientId"
              :client-id="clientId"
              @update-step="updateStep"
            />
          </q-step>

          <q-step
            :done="step > 5"
            :name="5"
            prefix="5"
            title="Diet"
            :caption="`Provide info about ${clientName}'s diet.`"
          >
            <diet
              v-if="clientId"
              :client-id="clientId"
              @update-step="updateStep"
            />
          </q-step>

          <q-step
            :done="step > 6"
            :name="6"
            prefix="6"
            title="Visiting Days"
            :caption="`Select what days ${clientName} visits`"
          >
            <q-list
              v-if="clientId && clientStore.clients[clientId]"
              id="clientVisitingCentresExpander"
              bordered
              class="row q-ma-md"
            >
              <q-expansion-item
                v-for="centre in clientStore.clients[clientId].centres"
                :key="centre"
                bordered
                class="full-width"
                expand-separator
                :label="centreStore.centres[centre].name"
                :group="expansionGroup"
              >
                <client-visiting-centres
                  :client-id="clientId"
                  :centre-id="centre"
                />
              </q-expansion-item>
            </q-list>

            <q-btn
              id="clientVisitingDaysSubmit"
              :disabled="!clientVisitingDaysSet"
              color="primary"
              @click="setVisitingDaysAndSetStep7"
              >Continue</q-btn
            >
          </q-step>

          <q-step
            :done="step > 7"
            :name="7"
            prefix="7"
            title="Policies"
            :caption="`Before you can create ${clientName}'s profile, they must agree to these policies.`"
          >
            <unagreed-policies-view
              v-if="step === 7 && unagreedPolicies"
              :unagreed-policies="unagreedPolicies"
              class="mb-4"
            />
            <q-btn
              id="clientPoliciesSubmit"
              :loading="loading"
              color="primary"
              block
              @click="acceptPolicies"
              >Accept Policies</q-btn
            >
          </q-step>
        </q-stepper>
      </div></q-layout
    >
  </div>
</template>
<script lang="ts" setup>
import { computed, ref } from 'vue';
import axiosFailed from 'src/functions/proxy/AxiosFailed';
import { useBasicStore } from 'src/stores/basicStore';
import { useClientStore } from 'src/stores/clientsStore';
import { useCentreStore } from 'src/stores/centresStore';
import goToNextPage from 'src/functions/proxy/goToNextPage';
import { useRouter } from 'vue-router';
import getCentreDataForClient from 'src/functions/proxy/getCentreDataForClient';
import updatePolicies from 'src/functions/policies/updatePolicies';
import BasicInfo from '../components/clientCreation/BasicInfo.vue';
import AdditionalInfo from '../components/clientCreation/AdditionalInfo.vue';
import Services from '../components/clientCreation/Services.vue';
import Ability from '../components/clientCreation/Ability.vue';
import Diet from '../components/clientCreation/Diet.vue';
import UnagreedPoliciesView from '../components/clients/UnagreedPolicies.vue';
import ClientVisitingCentres from '../components/clients/ClientVisitingCentres.vue';
import type UnagreedPolicies from 'src/types/UnagreedPolicies';
import type Policy from 'src/types/Policy';
import type VisitingDay from 'src/types/VisitingDay';
import type { AxiosResponse } from 'axios';
type VoidNullResponse = Promise<void | AxiosResponse | null>;

const basicStore = useBasicStore();
const clientStore = useClientStore();
const centreStore = useCentreStore();
const router = useRouter();

const step = ref(1);
const loading = ref(false);
const expansionGroup = ref('');

const clientId = ref<null | number>(null);

const acceptPolicies = async (): VoidNullResponse => {
  if (clientId.value) {
    loading.value = true;
    await context.updatePolicies(clientId.value);
    loading.value = false;
    return context.updateStep(8);
  }
};

const updateStep = async (newStep: number): VoidNullResponse => {
  step.value = newStep;
  if (step.value === 7) {
    return context.getPolicies();
  }
  if (step.value === 8 && clientId.value) {
    // Setup complete
    await basicStore.http
      .patch(`clients/${clientId.value}/update/`, {
        setupComplete: true
      })
      .catch(axiosFailed);
    return goToNextPage(router);
  }
  return null;
};

const setVisitingDays = (): null | Promise<void | AxiosResponse> => {
  if (clientId.value) {
    return basicStore.http
      .patch(`clients/${clientId.value}/update/`, {
        visitingDaysSetup: true
      })
      .catch(axiosFailed);
  }
  return null;
};

const clientName = computed(() => {
  if (clientId.value && clientId.value in clientStore.clients) {
    const { firstName, surname } = clientStore.clients[clientId.value];
    return `${firstName} ${surname}`;
  }
  return 'this client';
});

const created = (): void => {
  let newStep = 1;
  if (clientStore.setupClient) {
    clientId.value = clientStore.setupClient.id;
    newStep = 2;
    if (clientStore.setupClient.additionalInfoSetup) {
      newStep = 3;
    }
    if (clientStore.setupClient.servicesSetup) {
      newStep = 4;
    }
    if (clientStore.setupClient.abilitySetup) {
      newStep = 5;
    }
    if (clientStore.setupClient.dietSetup) {
      newStep = 6;
    }
    if (clientStore.setupClient.visitingDaysSetup) {
      newStep = 7;
      context.getPolicies()?.catch((err: Error) => err);
    }
  }
  step.value = newStep;
};

const updateClientId = (newClientId: number): void => {
  clientId.value = newClientId;
};

const clientVisitingDaysSet = computed(() => {
  if (clientId.value && clientId.value in clientStore.clients) {
    const clientIdNumber = clientId.value;
    // Validate every client centre has a visiting day set
    return clientStore.clients[clientIdNumber].centres?.every(
      (centreId: number) =>
        clientStore.clients[clientIdNumber].visitingDays?.some(
          (visitingDay: VisitingDay) => visitingDay.centre === centreId
        )
    );
  }
  return false;
});

const getPolicies = (): null | Promise<void> => {
  if (clientId.value) {
    return getCentreDataForClient(clientId.value, 'policies');
  }
  return null;
};

const unagreedPolicies = computed(() => {
  if (clientId.value && clientId.value in clientStore.clients) {
    const clientIdNumber = clientId.value;
    const unacceptedPolicies: UnagreedPolicies[] = [];
    clientStore.clients[clientIdNumber].centres?.forEach((centreId: number) => {
      const centreUnagreedPolicies = centreStore.centres[centreId].policies
        ?.filter((policyId: number) => centreStore.policies[policyId])
        .map((policyId: number) => centreStore.policies[policyId])
        .sort((a: Policy, b: Policy) =>
          a.description.localeCompare(b.description)
        );
      if (centreUnagreedPolicies && centreUnagreedPolicies.length > 0) {
        unacceptedPolicies.push({
          centre: centreId,
          unagreedPolicies: centreUnagreedPolicies
        });
      }
    });
    return unacceptedPolicies;
  }
  return [];
});

const setVisitingDaysAndSetStep7 = async (): VoidNullResponse => {
  await context.setVisitingDays();
  return context.updateStep(7);
};

const context = {
  getPolicies,
  updatePolicies,
  updateStep,
  setVisitingDays
};
created();
</script>
