<template>
  <div
    id="errorPage"
    class="fullscreen bg-primary text-white text-center q-pa-md flex flex-center"
  >
    <div>
      <div style="font-size: 3em">There was a problem ☹️</div>
      <p id="errorText">{{ errorMessage }}</p>
      <q-btn
        id="logoutButton"
        class="q-mt-xl"
        size="xl"
        color="white"
        text-color="primary"
        label="Logout"
        no-caps
        :loading="loading"
        @click="logoutUser"
      />
    </div>
  </div>
</template>
<script lang="ts" setup>
import logout from 'src/functions/auth/logout';
import { ref } from 'vue';
import { useRouter } from 'vue-router';
import type { NavigationFailure } from 'vue-router';

const router = useRouter();
const state = window.history.state as { errorMessage?: string } | undefined;
const loading = ref(false);
const errorMessage = state?.errorMessage ?? '';

const logoutUser = (): Promise<void | NavigationFailure | undefined> => {
  loading.value = true;
  return logout(router);
};
</script>
