<template>
  <div class="window-height flex flex-center q-ma-auto">
    <q-card class="q-pa-md">
      <q-form id="serverSelectForm" @submit.prevent>
        <div class="q-ma-sm row">
          <p class="text-subtitle-1 text-center">
            Enter the address of the YAPCA instance you wish to connect to.
            <br />
            The address must be a domain like
            <em>https://yapcaexample.com</em>
          </p>
        </div>
        <div class="col-12">
          <q-input
            v-model="serverAddress"
            for="serverAddressInput"
            :rules="[
              v => !!v || 'Server Address is required',
              v => validateURL(v) || 'Must be valid URL'
            ]"
            :error-message="serverAddressErrors[0]"
            bottom-slots
            :error="serverAddressErrors.length > 0"
            label="Server Address"
            required
            autofocus
            @keyup.enter="validate"
          />
        </div>
        <div class="row">
          <q-btn
            id="serverConnectButton"
            class="full-width"
            :disabled="!isValid"
            :loading="checkingServerAddress"
            color="primary"
            @click="validate"
          >
            Connect
          </q-btn>
        </div>
      </q-form>
    </q-card>
  </div>
</template>

<script lang="ts" setup>
import http from 'src/functions/backend/http';
import axiosFailed from 'src/functions/proxy/AxiosFailed';
import goToNextPage from 'src/functions/proxy/goToNextPage';
import { useBasicStore } from 'src/stores/basicStore';
import { computed, ref, watch } from 'vue';
import { useRouter } from 'vue-router';
import type CustomAxiosError from 'src/types/CustomAxiosError';

const router = useRouter();
const basicStore = useBasicStore();

const checkingServerAddress = ref(false);

const connection = http;

const serverAddress = ref('');

const serverAddressErrors = ref([]);

const isValid = computed(
  () => !!serverAddress.value && validateURL(serverAddress.value)
);

watch(serverAddress, () => {
  serverAddressErrors.value = [];
});

const queryAddress = computed(() => {
  if (
    router.currentRoute.value.query.serverAddress &&
    typeof router.currentRoute.value.query.serverAddress === 'string'
  ) {
    return router.currentRoute.value.query.serverAddress;
  }
  return '';
});

watch(queryAddress, async () => {
  if (queryAddress.value) {
    serverAddress.value = queryAddress.value;
    await context.validate();
  }
});

const connectToServer = (): Promise<void> => {
  checkingServerAddress.value = true;
  return context
    .connection(serverAddress.value)
    .get('register-ability/1/')
    .then(() => {
      basicStore.appServerAddress = serverAddress.value;
      goToNextPage(router);
    })
    .catch((error: CustomAxiosError) => {
      axiosFailed(error);
      checkingServerAddress.value = false;
    });
};

const validate = async (): Promise<void> => {
  if (isValid.value) {
    await context.connectToServer();
  }
};

const context = {
  connectToServer,
  connection,
  validate
};

const validateURL = (validationUrl: string): boolean => {
  let url;
  try {
    url = new URL(validationUrl);
  } catch {
    return false;
  }

  return url.protocol === 'http:' || url.protocol === 'https:';
};
</script>
