<template>
  <q-card-section>
    <div v-if="admin" id="emailWarningText">
      <div class="text-center text-h6 q-mt-sm">
        <q-icon size="xl" :name="mdiAlert" color="warning" />
        <p>WARNING</p>
      </div>
      <p>
        Changing a users email must only be used as a
        <strong>LAST RESORT</strong> after the user has fully lost access to
        their email account.
      </p>
      <p>
        For the protection of client data it is vital that you
        <strong>CONFIRM IN PERSON</strong> that the user agrees to having their
        email reset and have secure access to their new email account.
      </p>
    </div>
    <q-form id="emailChangeForm" @submit.prevent>
      <q-input
        v-model="newEmail"
        for="emailInput"
        :rules="[
          v => !!v || 'Email is required',
          v =>
            !!v.match(/^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/) ||
            'Invalid Email Address',
          v => v !== userEmail || 'Email Must Be New'
        ]"
        :error-messages="newEmailErrors"
        autofocus
        label="New Email"
        required
        @keyup.enter="changeEmail()"
      />
    </q-form>
  </q-card-section>
  <card-confirm-buttons
    confirm-button-text="Change Email Address"
    :confirm-button-valid="isValid"
    @confirm-button-clicked="changeEmail"
  />
</template>

<script lang="ts" setup>
import { mdiAlert } from '@mdi/js';
import { computed, ref, watch } from 'vue';
import { useUserStore } from 'src/stores/userStore';
import { useBasicStore } from 'src/stores/basicStore';
import axiosFailed from 'src/functions/proxy/AxiosFailed';
import { Notify } from 'quasar';
import CardConfirmButtons from '../ui/CardConfirmButtons.vue';
import type CustomAxiosError from 'src/types/CustomAxiosError';

const userStore = useUserStore();
const basicStore = useBasicStore();

interface Props {
  userId: number | undefined;
  admin?: boolean;
}
const props = withDefaults(defineProps<Props>(), {
  userId: undefined,
  admin: false
});
const emit = defineEmits(['close-dialog']);

const newEmail = ref('');

const newEmailErrors = ref<string[]>([]);

const userEmail = computed(() => {
  if (props.userId && props.userId in userStore.users) {
    return userStore.users[props.userId].email;
  }
  return '';
});

const isValid = computed(
  () =>
    !!newEmail.value &&
    !!newEmail.value.match(/^[\w+.-]+@[\dA-Za-z-]+\.[\d.A-Za-z-]+$/) &&
    newEmail.value !== userEmail.value
);

watch(
  userEmail,
  () => {
    newEmail.value = userEmail.value;
  },
  { immediate: true }
);

watch(newEmail, () => {
  newEmailErrors.value = [];
});

const changeEmail = async (): Promise<void> => {
  if (isValid.value && props.userId) {
    await basicStore.http
      .patch(`users/${props.userId}/update/`, {
        email: newEmail.value
      })
      .then(() => changeEmailSuccess())
      .catch((err: CustomAxiosError) => axiosFailed(err));
  }
};

const changeEmailSuccess = (): void => {
  context.emit('close-dialog');
  if (props.admin) {
    Notify.create({
      type: 'positive',
      message: 'Email Changed!'
    });
  }
};

const context = {
  emit
};
</script>
<style scoped>
.q-btn.btn--no-hover {
  display: none;
}
</style>
