<template>
  <q-form id="loginForm">
    <div class="row">
      <div class="col-12 col-sm-6 q-px-xs">
        <q-input
          v-model="username"
          for="loginUsernameInput"
          :rules="usernameRules"
          :error-message="userNameErrors[0]"
          bottom-slots
          :error="userNameErrors.length > 0"
          label="Username"
          required
          autofocus
          @keyup.enter="validate"
        >
          <template #prepend>
            <q-icon :name="mdiAccount" />
          </template>
        </q-input>
      </div>
      <div class="col-12 col-sm-6 q-px-xs">
        <q-input
          v-model="password"
          for="loginPasswordInput"
          :append-icon="showPassword ? mdiEye : mdiEyeOff"
          :type="showPassword ? 'text' : 'password'"
          :rules="passwordRules"
          :error-message="passwordErrors[0]"
          bottom-slots
          :error="passwordErrors.length > 0"
          label="Password"
          required
          @keyup.enter="validate"
        >
          <template #prepend>
            <q-icon :name="mdiFormTextboxPassword" />
          </template>
          <template #append>
            <q-btn
              id="loginPasswordEyeIcon"
              tabindex="-1"
              round
              dense
              flat
              :icon="showPassword ? mdiEyeOff : mdiEye"
              @click="showPassword = !showPassword"
            />
          </template>
        </q-input>
      </div>
    </div>
    <div class="row">
      <div class="col q-pa-xs">
        <q-btn
          id="loginButton"
          :disabled="!isValid"
          class="full-width"
          :loading="loggingIn"
          color="primary"
          @click="validate"
        >
          <span v-if="lockoutRemainingTime > 0"
            >Locked out for: {{ lockoutRemainingTimeFormatted }}</span
          >
          <span v-else>Login</span>
        </q-btn>
      </div>
    </div>
    <div class="row">
      <div class="col q-pa-xs">
        <q-btn
          id="forgotPasswordButton"
          :loading="loggingIn"
          color="warning"
          class="full-width"
          @click="showForgotPasswordModal = true"
          >Forgot Password?</q-btn
        >
      </div>
      <div class="col q-pa-xs">
        <q-btn
          id="registerButton"
          :loading="loggingIn"
          class="full-width"
          @click="goToTempCodePage('registration')"
          >Register</q-btn
        >
      </div>
    </div>
    <q-dialog :model-value="showOtpInputModal" persistent width="unset">
      <otp-input-modal
        ref="otpInput"
        :otp-errors="otpErrors"
        @close-dialog="closeOtpDialog"
        @set-otp-code="updateOtpCode"
        @reset-otp-errors="otpErrors = []"
        @otp-reset-temp-code="goToTempCodePage('reset-totp')"
      />
    </q-dialog>
  </q-form>
  <q-dialog :model-value="showForgotPasswordModal" persistent width="unset">
    <forgot-password-modal
      ref="forgotPasswordModalRef"
      @close-dialog="showForgotPasswordModal = false"
      @go-to-temp-code-page="goToTempCodePage('reset-password')"
    />
  </q-dialog>
</template>

<script lang="ts" setup>
import { mdiAccount, mdiEye, mdiEyeOff, mdiFormTextboxPassword } from '@mdi/js';
import add from 'date-fns/add';
import differenceInSeconds from 'date-fns/differenceInSeconds';
import parseISO from 'date-fns/parseISO';
import { useUserStore } from 'src/stores/userStore';
import { useBasicStore } from 'src/stores/basicStore';

import { useRouter } from 'vue-router';

import { computed, ref, watch } from 'vue';
import axiosFailed from 'src/functions/proxy/AxiosFailed';
import loginSuccess from 'src/functions/auth/loginSuccess';
import OtpInputModal from './OtpInputModal.vue';
import ForgotPasswordModal from './ForgotPasswordModal.vue';
import type CustomAxiosError from 'src/types/CustomAxiosError';
import type { AxiosResponse } from 'axios';
import type LoginResponse from 'src/types/axios/LoginResponse';

const userStore = useUserStore();
const basicStore = useBasicStore();

const showForgotPasswordModal = ref(false);

const username = ref('');

const loggingIn = ref(false);

const showOtpInputModal = ref(false);

const password = ref('');

const showPassword = ref(false);

const userNameErrors = ref<string[]>([]);

const otpCode = ref('');

const now = ref(new Date());

const otpErrors = ref<string[]>([]);

const otpInput = ref<{
  otpInputRef: {
    inputRefs: {
      focus: () => void;
    }[];
  };
}>();

const router = useRouter();

const forgotPasswordModalRef = ref<{
  forgotEmailInputRef: {
    focus: () => void;
  };
}>();

const passwordErrors = ref<string[]>([]);

const usernameRules = [
  (v: string): string | boolean => !!v || 'Username is required'
];

const passwordRules = [
  (v: string): string | boolean => !!v || 'Password is required',
  (v: string): string | boolean =>
    v.length >= 6 || 'Password must be at least 6 characters'
];

watch(username, () => {
  userNameErrors.value = [];
});

watch(password, () => {
  passwordErrors.value = [];
});

watch(showOtpInputModal, () => {
  autoFocusOnOtpInput();
});

const autoFocusOnOtpInput = (): void => {
  if (showOtpInputModal.value) {
    setTimeout(() => {
      otpInput.value?.otpInputRef.inputRefs[0].focus();
    });
  }
};

watch(showForgotPasswordModal, () => {
  if (showForgotPasswordModal.value) {
    setTimeout(() => {
      forgotPasswordModalRef.value?.forgotEmailInputRef.focus();
    });
  }
});

const getNow = (): void => {
  setInterval(() => {
    now.value = new Date();
  }, 1000);
};

const lockoutEndTime = computed(() => {
  const time = userStore.lockoutEndTime as Date;
  if (typeof time === 'string') {
    return parseISO(time);
  }
  return userStore.lockoutEndTime;
});

const lockoutRemainingTime = computed(() => {
  if (lockoutEndTime.value) {
    const difference = differenceInSeconds(lockoutEndTime.value, now.value);
    if (difference <= 0) {
      return 0;
    }
    return difference;
  }
  return 0;
});

const lockoutRemainingTimeFormatted = computed(() => {
  const minutes = Math.floor(lockoutRemainingTime.value / 60);
  const seconds = `0${lockoutRemainingTime.value - minutes * 60}`.slice(-2);
  return `${minutes}:${seconds}`;
});

const isValid = computed(() => {
  return (
    !!username.value &&
    !!password.value &&
    password.value.length >= 6 &&
    lockoutRemainingTime.value === 0
  );
});

const validate = (): Promise<void | AxiosResponse> | null => {
  if (isValid.value) {
    return context.login();
  }
  return null;
};

const closeOtpDialog = (): void => {
  showOtpInputModal.value = false;
  otpCode.value = '';
};

const goToTempCodePage = (action: string): void => {
  router
    .push({
      name: 'tempCode',
      query: { action, username: username.value }
    })
    .catch((err: Error) => err);
};

const updateOtpCode = (newOtpCode: string): Promise<void | AxiosResponse> => {
  otpCode.value = newOtpCode;
  return context.login();
};

const login = (): Promise<void> => {
  loggingIn.value = true;
  return basicStore.http
    .post('login/', {
      username: username.value,
      password: password.value,
      otpCode: otpCode.value
    })
    .then((response: LoginResponse) => {
      loggingIn.value = false;
      return context.loginSuccess(response, router);
    })
    .catch((err: CustomAxiosError) => {
      loggingIn.value = false;
      return loginFailed(err);
    });
};

const loginFailed = (err: CustomAxiosError): void => {
  if (err.response) {
    const responseData = err.response.data as {
      username?: string[];
      password?: string[];
      otpCode?: string[];
      detail?: string;
    };
    userNameErrors.value = responseData.username ?? [];
    passwordErrors.value = responseData.password ?? [];
    otpErrors.value = responseData.otpCode ?? [];
    if (
      responseData.otpCode &&
      responseData.otpCode[0] === 'You must provide an OTP code' &&
      userNameErrors.value.length === 0 &&
      passwordErrors.value.length === 0
    ) {
      otpErrors.value = [];
      showOtpInputModal.value = true;
      otpCode.value = '';
      return autoFocusOnOtpInput();
    }

    if (
      responseData.detail &&
      responseData.detail === 'Too many failed login attempts'
    ) {
      userStore.updateLockoutEndTime(
        add(new Date(), {
          minutes: 10
        })
      );
    }
  }
  return axiosFailed(err);
};

const context = {
  login,
  loginSuccess
};

getNow();
</script>
