<template>
  <q-card id="otpInputModal" flat>
    <q-card-section class="bg-primary text-white">
      <div class="text-h6 text-center">Input OTP Code</div>
    </q-card-section>
    <q-card-section>
      <p id="otpInputModalTitleText">
        Input the OTP that is displayed in your authentication device.
      </p>
      <div class="row flex-center q-ma-md">
        <otp-input
          id="otpInput"
          ref="otpInputRef"
          :reset-input="resetOtpInput"
          @otp-code-update="updateOtpCode"
        />
      </div>
      <q-chip
        v-if="props.otpErrors && props.otpErrors.length > 0"
        id="otpIncorrectMessage"
        square
        color="negative"
        text-color="white"
        :icon="mdiAlert"
        label="The code you entered is incorrect. Please enter the code again."
      />
    </q-card-section>

    <q-card-actions>
      <div class="col-12 col-sm-8 q-pa-xs">
        <q-btn
          id="adminResetTempCodeButton"
          color="warning"
          class="full-width"
          label="An Admin Reset My Device"
          @click="goToOtpTempCodePage"
        />
      </div>
      <div class="col-12 col-sm-4 q-pa-xs">
        <q-btn
          id="cancelOtpInputButton"
          class="full-width q-pa-md"
          @click="closeDialog"
        >
          Cancel
        </q-btn>
      </div>
    </q-card-actions>
  </q-card>
</template>

<script lang="ts" setup>
import { mdiAlert } from '@mdi/js';
import { ref } from 'vue';
import OtpInput from './OtpInput.vue';

const resetOtpInput = ref(0);

const otpInputRef = ref();
const emit = defineEmits([
  'reset-otp-errors',
  'set-otp-code',
  'close-dialog',
  'otp-reset-temp-code'
]);
interface Props {
  otpErrors?: string[];
}

const props = withDefaults(defineProps<Props>(), {
  otpErrors: () => []
});

const updateOtpCode = (newOtpCodeArray: string[]): void => {
  context.emit('reset-otp-errors');
  const newOtpCode = newOtpCodeArray.join('');
  if (newOtpCode && newOtpCode.length === 6) {
    context.emit('set-otp-code', newOtpCode);
    resetOtpInput.value++;
  }
};
const closeDialog = (): void => {
  context.emit('close-dialog');
};

const goToOtpTempCodePage = (): void => {
  context.emit('otp-reset-temp-code');
};

const context = {
  emit
};
defineExpose({
  otpInputRef
});
</script>
