<template>
  <div class="parent">
    <div class="child">
      <form>
        <input
          v-for="(_, index) in code"
          :id="'otpInput--' + index"
          ref="inputRefs"
          :key="index"
          v-model="code[index]"
          type="number"
          :disabled="props.disabled"
          pattern="\d*"
          :class="inputClass"
          maxlength="1"
          @input="handleInput"
          @keypress="isNumber"
          @keydown.delete="handleDelete"
          @paste="onPaste"
          @wheel="onWheel"
        />
      </form>
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed, ref, watch } from 'vue';
import { useQuasar } from 'quasar';
interface Props {
  disabled?: boolean;
  resetInput?: number;
}

const inputRefs = ref<HTMLInputElement[]>([]);

const props = withDefaults(defineProps<Props>(), {
  disabled: false,
  resetInput: 0
});
const $q = useQuasar();

const emit = defineEmits(['otp-code-update']);
const code: string[] = Array.from({ length: 6 });
const dataFromPaste = ref<string[] | undefined>(undefined);
const keysAllowed: string[] = [
  '0',
  '1',
  '2',
  '3',
  '4',
  '5',
  '6',
  '7',
  '8',
  '9'
];

watch(
  () => props.resetInput,
  () => {
    Object.keys(code).forEach(index => {
      code[Number(index)] = '';
    });
    inputRefs.value[0].focus();
  }
);

function isNumber(event: Event): void {
  (event.currentTarget as HTMLInputElement).value = '';
  const keyPressed: string = (event as KeyboardEvent).key;
  if (!keysAllowed.includes(keyPressed)) {
    event.preventDefault();
  }
}

function onWheel(event: Event): void {
  event.preventDefault();
}

function handleInput(event: Event): void {
  const inputType = (event as InputEvent).inputType;

  let currentActiveElement = event.target as HTMLInputElement | undefined;

  if (inputType === 'insertText' && currentActiveElement?.nextElementSibling) {
    (currentActiveElement.nextElementSibling as HTMLElement).focus();
  }
  if (inputType === 'insertFromPaste' && dataFromPaste.value) {
    for (const num of dataFromPaste.value) {
      if (currentActiveElement) {
        const id: number = Number.parseInt(
          currentActiveElement.id.split('--')[1]
        );
        currentActiveElement.value = num;
        code[id] = num;
        currentActiveElement = currentActiveElement.nextElementSibling as
          | HTMLInputElement
          | undefined;
        if (currentActiveElement?.nextElementSibling?.nextElementSibling) {
          (currentActiveElement.nextElementSibling as HTMLElement).focus();
        } else {
          currentActiveElement?.focus();
        }
      }
    }
  }
  emit('otp-code-update', code);
}

function handleDelete(event: Event): void {
  const value = (event.target as HTMLInputElement).value;
  const currentActiveElement = event.target as HTMLInputElement;
  if (!value) {
    (currentActiveElement.previousElementSibling as HTMLElement).focus();
  }
}

function onPaste(event: Event): void {
  dataFromPaste.value = (event as ClipboardEvent).clipboardData
    ?.getData('text')
    .trim()
    .split('');

  if (dataFromPaste.value) {
    for (const num of dataFromPaste.value) {
      if (!keysAllowed.includes(num)) event.preventDefault();
    }
  }
}

const inputClass = computed(() => {
  if ($q.dark.isActive) {
    return 'dark-number-input';
  }
  return 'light-number-input';
});

defineExpose({
  inputRefs
});
</script>

<style lang="scss" scoped>
.parent {
  text-align: center;
  position: relative;
  margin: auto;
  height: 100px;
}

.child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

form {
  display: flex;
  flex-direction: row;
  gap: 18px;
}
input[type='number'] {
  width: 40px;
  height: 40px;
  font-size: 30px;
  text-align: center;
  caret-color: transparent !important;
  border-radius: 15%;
  background-color: rgba(0, 0, 0, 0);
  -moz-appearance: textfield;
  appearance: textfield;
}
.light-number-input {
  border: 2px solid rgba(0, 0, 0, 0.54);
  color: black;
}
.dark-number-input {
  border: 2px solid rgba(255, 255, 255, 0.7);
  color: white;
}

input[type='number']:focus {
  outline: none;
  border: 3px solid;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

@media only screen and (max-width: 500px) {
  form {
    gap: 8px;
  }
}
</style>
