<template>
  <div>
    <div id="otpTitleRow" class="row q-mt-md" style="max-width: 560px">
      <p v-if="props.hasTitle" class="text-center text-h6 q-mx-auto">
        Setup TOTP
      </p>
      <p v-if="props.isClient">
        YAPCA supports optional multi-factor authentication. This means using a
        second device to with a 6 digit code to login.
      </p>
      <p v-else>
        YAPCA requires that users with access to multiple clients' data must
        setup multi-factor authentication. This means using a second device to
        with a 6 digit code to login.
      </p>
      <div v-if="props.registering" id="otpSetupInfoText">
        <p>
          The easiest way to do this is search for a
          <strong>TOTP</strong> (Time Based One Time Password) application on
          your phone. Once the application is installed you can use it to scan
          the QR code below.
        </p>
        <p>
          To continue with registration, enter the 6 digit code displayed on
          your second device.
        </p>
      </div>
      <div v-else>
        <p id="otpSetupInfoText">
          To reset your TOTP code, enter the 6 digit code displayed on your new
          device.
        </p>
      </div>
      <div class="mt-5">
        <p>
          <strong
            >Please write down the security code shown below on paper and store
            it in a secure place. You will need it if you ever lose access to
            your device.</strong
          >
        </p>
      </div>
    </div>
    <div id="otpSetupRow" class="row">
      <div class="col text-center text-h5 q-pa-sm">
        <p>
          <code id="otpSecretKeyText">{{ otpSecret }}</code>
        </p>
        <qrcode-vue level="L" :value="qrUrl" :size="qrCodeSize" />
      </div>
    </div>
    <div id="otpInputRow" class="row flex-center q-ma-md">
      <div>
        <otp-input
          :disabled="codeValid"
          :reset-input="resetOtpInput"
          @otp-code-update="updateOtpCode"
        />

        <q-chip
          v-if="codeValid"
          id="otpRegisterSuccessMessage"
          square
          color="positive"
          text-color="white"
          :icon="mdiCheck"
          label="Your second device is setup correctly."
        />
        <q-chip
          v-if="codeIncorrect"
          id="otpRegisterIncorrectMessage"
          square
          color="negative"
          text-color="white"
          :icon="mdiAlert"
          label="The code you entered is incorrect. Please enter the code again."
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { computed, onMounted, ref, withDefaults } from 'vue';
import { Secret, TOTP } from 'otpauth';
import QrcodeVue from 'qrcode.vue';
import { useQuasar } from 'quasar';
import { mdiAlert, mdiCheck } from '@mdi/js';
import OtpInput from './OtpInput.vue';
import type { ComputedRef } from 'vue';

interface Props {
  registering?: boolean;
  isClient?: boolean;
  hasTitle?: boolean;
}

const resetOtpInput = ref(0);

const props = withDefaults(defineProps<Props>(), {
  registering: true,
  isClient: false,
  hasTitle: true
});
const $q = useQuasar();
const emit = defineEmits(['otp-setup-complete']);
const codeIncorrect = ref(false);

const codeValid = ref(false);
const otpSecret = new Secret().base32;

const qrUrl = ref('');

const totp = new TOTP({
  issuer: 'Yapca',
  label: 'YAPCA TOTP Authentication Code',
  algorithm: 'SHA1',
  digits: 6,
  period: 30,
  secret: otpSecret
});

onMounted(() => {
  qrUrl.value = totp.toString();
});

const qrCodeSize: ComputedRef<number> = computed(() => {
  if ($q.screen.width * 0.8 < 350) {
    return $q.screen.width * 0.8;
  }
  return 350;
});

const updateOtpCode = (newOtpCodeArray: string[]): void => {
  const newOtpCode = newOtpCodeArray.join('');
  if (newOtpCode) {
    codeIncorrect.value = false;
    codeValid.value = false;
    if (newOtpCode.length === 6) {
      const isValidNow = totp.validate({
        token: newOtpCode,
        window: 1
      });

      const isValidPreviousWindow = totp.validate({
        token: newOtpCode,
        window: 1,
        timestamp: Date.now() - 30000
      });
      if (isValidNow || isValidPreviousWindow) {
        codeValid.value = true;
        context.emit('otp-setup-complete', otpSecret);
      } else {
        codeIncorrect.value = true;
        resetOtpInput.value++;
      }
    }
  }
};

const context = {
  emit
};
</script>
<style scoped>
code {
  overflow-wrap: anywhere;
}
</style>
