<template>
  <q-form
    id="registerForm"
    autocorrect="off"
    autocapitalize="off"
    autocomplete="false"
    spellcheck="false"
    no-error-focus
  >
    <div class="row">
      <div
        :class="`col-12 col-sm-${
          props.registerType === 'registration' ? '6' : '12'
        } q-px-xs`"
      >
        <q-input
          v-model="username"
          for="registerUsernameInput"
          bottom-slots
          :error="userNameErrors.length > 0"
          :error-message="userNameErrors[0]"
          :rules="[
            v => !!v || 'Username is required',
            v =>
              (v && !!v.match(/^[a-z0-9]+$/i)) ||
              'Username must contain only numbers and letters'
          ]"
          label="Username"
          required
          autocomplete="false"
          autofocus
          @keyup.enter="validate()"
        >
          <template #prepend>
            <q-icon :name="mdiAccount" />
          </template>
        </q-input>
      </div>
      <div
        v-if="props.registerType === 'registration'"
        class="col-12 col-sm-6 q-px-xs"
      >
        <q-input
          v-model="displayName"
          for="registerDisplayNameInput"
          :rules="[v => !!v || 'Display name is required']"
          bottom-slots
          :error="displayNameErrors.length > 0"
          :error-message="displayNameErrors[0]"
          maxlength="256"
          label="Display Name"
          required
          @keyup.enter="validate()"
        >
          <template #prepend>
            <q-icon :name="mdiAccountEye" />
          </template>
          <template #hint> Your name as others will see it </template>
        </q-input>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <q-input
          v-model="email"
          for="registerEmailInput"
          label="Email"
          :disable="!!providedEmail"
          bottom-slots
          :error="emailErrors.length > 0"
          :error-message="emailErrors[0]"
          required
          :rules="[
            v => !!v || 'Email is required',
            v =>
              (v &&
                !!v.match(
                  /^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/
                )) ||
              'Invalid Email Address'
          ]"
          @keyup.enter="validate()"
        >
          <template #prepend>
            <q-icon :name="mdiEmail" />
          </template>
        </q-input>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 q-px-xs">
        <q-input
          ref="passwordInput"
          v-model="password"
          for="registerPasswordInput"
          :type="showPassword ? 'text' : 'password'"
          :rules="[
            v => !!v || 'Password is required',
            v => v.length >= 6 || 'Password must be at least 6 characters',
            ...passwordRules
          ]"
          autocomplete="false"
          bottom-slots
          :error="passwordErrors.length > 0"
          :error-message="passwordErrors[0]"
          label="Password"
          required
          reactive-rules
          @click:append="showPassword = !showPassword"
          @keyup.enter="validate()"
        >
          <template #prepend>
            <q-icon :name="mdiFormTextboxPassword" />
          </template>
          <template #append>
            <q-btn
              tabindex="-1"
              round
              dense
              flat
              :icon="showPassword ? mdiEyeOff : mdiEye"
              @click="showPassword = !showPassword"
            />
          </template>
        </q-input>
      </div>
      <div class="col-12 col-sm-6 q-px-xs">
        <q-input
          ref="confirmPasswordInput"
          v-model="confirmPassword"
          for="registerConfirmPasswordInput"
          :type="showConfirmPassword ? 'text' : 'password'"
          autocomplete="false"
          :rules="[
            v => !!v || 'Password confirmation is required',
            v => v.length >= 6 || 'Password must be at least 6 characters',
            ...passwordRules
          ]"
          reactive-rules
          rows="1"
          label="Confirm Password"
          required
          @keyup.enter="validate()"
        >
          <template #prepend>
            <q-icon :name="mdiFormTextboxPassword" />
          </template>
          <template #append>
            <q-btn
              round
              tabindex="-1"
              dense
              flat
              :icon="showConfirmPassword ? mdiEyeOff : mdiEye"
              @click="showConfirmPassword = !showConfirmPassword"
            />
          </template>
        </q-input>
      </div>
    </div>
    <theme-select />
    <q-separator />
    <otp-setup
      v-if="props.registerType === 'registration'"
      @otp-setup-complete="otpSetupComplete"
    />
    <q-item v-if="props.registerType === 'client-registration'" tag="label">
      <q-item-section>
        <q-item-label>Enable 2-Factor Authentication</q-item-label>
        <q-item-label caption
          >This is optional, but recommended for security. It will require the
          user to have a second device.</q-item-label
        >
      </q-item-section>
      <q-item-section avatar>
        <q-toggle id="enableTOTPToggle" v-model="useOtp" color="primary" />
      </q-item-section>
    </q-item>
    <q-separator />
    <q-slide-transition
      ><div v-show="useOtp">
        <otp-setup
          :is-client="props.registerType === 'client-registration'"
          @otp-setup-complete="otpSetupComplete"
        /></div
    ></q-slide-transition>
    <div class="text-center q-pt-md">
      <q-btn
        id="registerButton"
        :disabled="!isValid"
        :loading="registering"
        color="primary"
        @click="validate"
        >Register</q-btn
      >
    </div>
  </q-form>
</template>

<script lang="ts" setup>
import {
  mdiAccount,
  mdiAccountEye,
  mdiEmail,
  mdiEye,
  mdiEyeOff,
  mdiFormTextboxPassword
} from '@mdi/js';
import { computed, ref, watch } from 'vue';
import { getCssVar, useQuasar } from 'quasar';
import axiosFailed from 'src/functions/proxy/AxiosFailed';
import loginSuccess from 'src/functions/auth/loginSuccess';
import { useRouter } from 'vue-router';
import { useBasicStore } from '../../stores/basicStore';
import ThemeSelect from '../themes/ThemeSelect.vue';
import OtpSetup from './OtpSetup.vue';
import type CustomAxiosError from 'src/types/CustomAxiosError';
import type HTMLInputWithValidation from 'src/types/HTMLInputWithValidation';
import type LoginResponse from 'src/types/axios/LoginResponse';

import type { AxiosResponse } from 'axios';
const useOtp = ref(false);
const basicStore = useBasicStore();

const $q = useQuasar();
interface Props {
  tempCode?: string;
  providedEmail?: string;
  providedDisplayName?: string;
  registerType?: 'registration' | 'client-registration';
}

const props = withDefaults(defineProps<Props>(), {
  tempCode: undefined,
  providedEmail: '',
  providedDisplayName: '',
  registerType: 'registration'
});

const router = useRouter();
const passwordInput = ref<HTMLInputWithValidation>();
const confirmPasswordInput = ref<HTMLInputWithValidation>();

const username = ref('');
const email = ref('');
const displayName = ref('');
const password = ref('');
const otpSecret = ref('');
const confirmPassword = ref('');
const showPassword = ref(false);
const showConfirmPassword = ref(false);
const userNameErrors = ref<string[]>([]);
const emailErrors = ref<string[]>([]);
const displayNameErrors = ref<string[]>([]);
const passwordErrors = ref<string[]>([]);
const registering = ref(false);

const passwordRules = computed(() => {
  const rules = [];
  if (confirmPassword.value) {
    const rule = (v: string): string | boolean =>
      (!!v && v === confirmPassword.value && v === password.value) ||
      'Values do not match';
    rules.push(rule);
  }
  return rules;
});

const isValid = computed(() => {
  let otpValid = !!otpSecret.value;
  if (props.registerType === 'client-registration' && !useOtp.value) {
    otpValid = true;
  }
  return (
    !!username.value &&
    !!email.value &&
    !!password.value &&
    !!confirmPassword.value &&
    !!email.value.match(/^[\w+.-]+@[\dA-Za-z-]+\.[\d.A-Za-z-]+$/) &&
    password.value.length >= 6 &&
    confirmPassword.value.length >= 6 &&
    confirmPassword.value === password.value &&
    otpValid
  );
});

watch(username, () => {
  userNameErrors.value = [];
});

watch(email, () => {
  emailErrors.value = [];
});

watch([password, confirmPassword], () => {
  passwordErrors.value = [];
  return passwordInput.value?.validate();
});

watch(displayName, () => {
  displayNameErrors.value = [];
});

watch(
  () => props.providedDisplayName,
  newDisplayName => {
    displayName.value = newDisplayName;
  },
  { immediate: true }
);

watch(
  () => props.providedEmail,
  newEmail => {
    email.value = newEmail;
  },
  { immediate: true }
);

const validate = (): Promise<void | AxiosResponse> | null => {
  if (isValid.value) {
    return context.register();
  }
  return null;
};

const register = (): Promise<void | AxiosResponse> => {
  registering.value = true;
  const darkTheme = $q.dark.isActive;
  const userData: {
    username: string;
    email: string;
    password1: string;
    password2: string;
    darkTheme: boolean;
    accentColor: string | null;
    otpDeviceKey: string;
    tempCode: string | undefined;
    displayName?: string;
  } = {
    username: username.value,
    email: email.value,
    password1: password.value,
    password2: password.value,
    darkTheme,
    accentColor: getCssVar('primary'),
    otpDeviceKey: otpSecret.value,
    tempCode: props.tempCode
  };
  if (props.registerType === 'registration') {
    userData.displayName = displayName.value;
  }
  return basicStore.http
    .post(`${props.registerType}/`, userData)
    .then((response: LoginResponse) => {
      registering.value = false;
      return loginSuccess(response, router);
    })
    .catch((err: CustomAxiosError) => {
      registering.value = false;
      return registerFailed(err);
    });
};

const registerFailed = (err: CustomAxiosError): void => {
  if (err.response) {
    const responseData = err.response.data as {
      username?: string[];
      email?: string[];
      displayName?: string[];
      password1?: string[];
    };
    userNameErrors.value = responseData.username ?? [];
    displayNameErrors.value = responseData.displayName ?? [];
    passwordErrors.value = responseData.password1 ?? [];
    emailErrors.value = responseData.email ?? [];
    window.scrollTo(0, 0);
  }
  return axiosFailed(err);
};

const otpSetupComplete = (newOtpSecret: string): void => {
  otpSecret.value = newOtpSecret;
};

const context = {
  register
};
</script>
