<template>
  <q-card-actions>
    <div class="row" style="width: 100%">
      <div v-if="backButton" class="flex col-12 col-sm-6 q-pa-sm">
        <q-btn
          id="goBackButton"
          class="full-width"
          @click="emit('go-back-button-clicked')"
          >{{ props.goBackButtonText }}</q-btn
        >
      </div>
      <div
        :class="`flex col-12 ${
          backButton ? 'col-sm-6' : ''
        } q-pa-sm text-center`"
      >
        <q-btn
          :id="props.confirmButtonId"
          :icon="props.confirmButtonIcon"
          :disable="!props.confirmButtonValid"
          class="full-width card-confirm-button"
          :color="props.confirmButtonColor"
          @click="emit('confirm-button-clicked')"
          >{{ props.confirmButtonText }}</q-btn
        >
      </div>
    </div>
  </q-card-actions>
</template>

<script lang="ts" setup>
const emit = defineEmits(['confirm-button-clicked', 'go-back-button-clicked']);

interface Props {
  confirmButtonText?: string;
  goBackButtonText?: string;
  confirmButtonValid?: boolean;
  backButton?: boolean;
  confirmButtonColor?: string;
  confirmButtonIcon?: string;
  confirmButtonId?: string;
}
const props = withDefaults(defineProps<Props>(), {
  confirmButtonText: 'Continue',
  confirmButtonValid: true,
  goBackButtonText: 'Go Back',
  backButton: false,
  confirmButtonColor: 'primary',
  confirmButtonIcon: undefined,
  confirmButtonId: 'confirmButton'
});
</script>
