<template>
  <div id="daySelector" ref="daySelector" class="row" justify="center">
    <q-btn-group style="width: 100%" spread>
      <q-btn
        v-for="(
          { index, textColor, buttonColor }, buttonIndex
        ) in dayButtonStyles"
        :key="index"
        :label="dayArray[index].label"
        :color="buttonColor"
        :text-color="textColor"
        :disable="props.readonly"
        @click="setDayActive(index)"
      >
        <q-resize-observer v-if="buttonIndex === 0" @resize="onResize" />
      </q-btn>
    </q-btn-group>
  </div>
</template>
<script lang="ts" setup>
import { useQuasar } from 'quasar';
import { computed, ref } from 'vue';
const emit = defineEmits(['update-selected-day']);

const buttonWidth = ref(0);
const $q = useQuasar();

interface Props {
  selectedDays: number[];
  availableDays?: number[];
  readonly?: boolean;
}
const props = withDefaults(defineProps<Props>(), {
  selectedDays: () => [],
  availableDays: () => [...Array.from({ length: 7 }).keys()],
  readonly: false
});

const dayButtonStyles = computed(() => {
  return props.availableDays.map(dayIndex => {
    let textColor = $q.dark.isActive ? 'white' : 'black';
    let buttonColor = '';

    if (props.selectedDays.includes(dayIndex)) {
      textColor = 'white';
      buttonColor = 'primary';
    }
    return {
      index: dayIndex,
      textColor,
      buttonColor
    };
  });
});

const setDayActive = (day: number): void => {
  if (props.selectedDays.includes(day) && props.selectedDays.length > 1) {
    context.emit('update-selected-day', day, false);
  } else if (!props.selectedDays.includes(day)) {
    context.emit('update-selected-day', day, true);
  }
};

const onResize = (newSize: { width: number }): void => {
  buttonWidth.value = newSize.width;
};

const dayArray = computed(() => {
  if (buttonWidth.value < 40) {
    return [
      { label: 'M', value: 'monday' },
      { label: 'T', value: 'tuesday' },
      { label: 'W', value: 'wednesday' },
      { label: 'T', value: 'thursday' },
      { label: 'F', value: 'friday' },
      { label: 'S', value: 'saturday' },
      { label: 'S', value: 'sunday' }
    ];
  }
  if (buttonWidth.value < 80) {
    return [
      { label: 'Mon', value: 'monday' },
      { label: 'Tue', value: 'tuesday' },
      { label: 'Wed', value: 'wednesday' },
      { label: 'Thu', value: 'thursday' },
      { label: 'Fri', value: 'friday' },
      { label: 'Sat', value: 'saturday' },
      { label: 'Sun', value: 'sunday' }
    ];
  }

  return [
    { label: 'Monday', value: 'monday' },
    { label: 'Tuesday', value: 'tuesday' },
    { label: 'Wednesday', value: 'wednesday' },
    { label: 'Thursday', value: 'thursday' },
    { label: 'Friday', value: 'friday' },
    { label: 'Saturday', value: 'saturday' },
    { label: 'Sunday', value: 'sunday' }
  ];
});

const context = {
  emit
};
</script>
