<template>
  <q-card-section>
    Deleting a {{ description }} will make it PERMANENTLY unrecoverable
  </q-card-section>
  <card-confirm-buttons
    confirm-button-id="deleteConfirmButton"
    :confirm-button-text="`Delete ${description}`"
    @confirm-button-clicked="deleteItem"
  />
</template>

<script lang="ts" setup>
import axiosFailed from 'src/functions/proxy/AxiosFailed';
import { useBasicStore } from 'src/stores/basicStore';
import CardConfirmButtons from './CardConfirmButtons.vue';

const basicStore = useBasicStore();

interface Props {
  id: number | undefined;
  description: string;
  name: string;
}
const props = withDefaults(defineProps<Props>(), {
  id: undefined,
  description: '',
  name: ''
});

const emit = defineEmits(['close-dialog', 'delete-item']);

const deleteItem = (): Promise<void> | null => {
  if (props.id) {
    return basicStore.http
      .delete(`${props.name}s/${props.id}/delete/`)
      .then(() => {
        return emit('close-dialog');
      })
      .catch(() => axiosFailed());
  }
  return null;
};
</script>
