<template>
  <span v-if="showEmptyText">{{ props.emptyText }}</span>
  <q-popup-proxy
    :id="`${props.fieldName}PopupEdit`"
    ref="popupEdit"
    :style="popupWidth"
    @before-hide="saveDataOnHide"
  >
    <div class="q-pa-sm">
      <slot :value="value" :close="saveData" :set="setNewValue" />
      <q-btn
        v-if="props.saveButton"
        id="popupEditSaveButton"
        label="Save"
        color="positive"
        class="q-ma-sm full-width"
        @click="saveData"
      />
    </div>
  </q-popup-proxy>
</template>
<script lang="ts" setup>
import { computed, nextTick, ref, watch } from 'vue';

const emit = defineEmits(['save-data']);
interface Props {
  fieldName: string;
  model: string | number;
  modelId?: number;
  saveButton?: boolean;
  emptyText?: string;
  showEmptyText?: boolean;
  popupWidth?: number | undefined;
  closeOnSet?: boolean;
}
const props = withDefaults(defineProps<Props>(), {
  modelId: undefined,
  fieldName: '',
  model: '',
  saveButton: false,
  emptyText: 'Click to add data',
  showEmptyText: false,
  popupWidth: undefined,
  closeOnSet: false
});

const popupEdit = ref<{ hide: () => void }>();

const value = ref<string | number>('');

watch(
  () => props.model,
  () => {
    value.value = props.model;
  },
  { immediate: true }
);

const saveDataOnHide = (): Promise<void> | null => {
  if (!props.saveButton) {
    return saveData();
  }
  return null;
};

const saveData = async (): Promise<void> => {
  await nextTick();
  context.emit('save-data', props.modelId, props.fieldName, value.value);
  if (popupEdit.value) {
    popupEdit.value.hide();
  }
};
const context = {
  emit
};

const showEmptyText = computed(() => {
  return !value.value && props.showEmptyText;
});

const popupWidth = computed(() => {
  return props.popupWidth ? `width: ${props.popupWidth}px` : '';
});

const setNewValue = (newValue: string): Promise<void> | null => {
  value.value = newValue;
  if (props.closeOnSet) {
    return saveData();
  }
  return null;
};
</script>
<style lang="sass" scoped>
span
  color: $grey-5
</style>
