<template>
  <div :class="`row q-pa-md`" style="max-width: 560px">
    <div class="col-12 col-sm-3">
      <p class="text-center">Theme Colour</p>
      <div id="themeColorInput" class="row q-mb-xl">
        <div
          v-for="color in themeColors"
          :key="color"
          class="col-xs-12 q-pa-sm flex"
        >
          <q-btn
            round
            toggle-color="primary"
            class="q-mx-auto themeSelectButton"
            size="xl"
            :icon="selectedTheme === color ? mdiCheck : ''"
            :style="`background-color: ${color}`"
            @click="selectedTheme = color"
          />
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-9">
      <p class="text-center">Accent Colour</p>
      <accent-color-select
        :prop-color="selectedAccentColor"
        @update-color="updateQuasarAccent"
      />
    </div>
  </div>
</template>

<script lang="ts" setup>
import { computed, ref, watch } from 'vue';
import { getCssVar, setCssVar, useQuasar } from 'quasar';
import { useBasicStore } from 'src/stores/basicStore';
import { useUserStore } from 'src/stores/userStore';
import axiosFailed from 'src/functions/proxy/AxiosFailed';

import { mdiCheck } from '@mdi/js';
import AccentColorSelect from './AccentColorSelect.vue';
import type CustomAxiosError from 'src/types/CustomAxiosError';
import type { AxiosResponse } from 'axios';

const basicStore = useBasicStore();
const userStore = useUserStore();

const $q = useQuasar();

const themeColors = ['#FFFFFF', '#1E1E1E'];

const selectedTheme = ref('#1E1E1E');

const selectedAccentColor = ref('#1976D2');

const updateQuasarAccent = (
  newAccentColor: string
): Promise<void | AxiosResponse> | null => {
  if (newAccentColor) {
    setCssVar('primary', newAccentColor);

    return context.updateUserSettings();
  }
  return null;
};

selectedTheme.value = $q.dark.isActive ? '#1E1E1E' : '#FFFFFF';
selectedAccentColor.value = getCssVar('primary') ?? '#1976D2';

watch(selectedTheme, (theme: string) => {
  $q.dark.set(theme === '#1E1E1E');
  return context.updateUserSettings();
});

const updateUserSettings = (): Promise<void | AxiosResponse> | null => {
  if (userStore.user.id) {
    return basicStore.http
      .patch(
        `users/${userStore.user.id}/update/`,
        {
          darkTheme: $q.dark.isActive,
          accentColor: getCssVar('primary')
        },
        {
          headers: {
            Authorization: `Token ${basicStore.token}`
          }
        }
      )

      .catch((err: CustomAxiosError) => axiosFailed(err));
  }
  return null;
};

const darkTheme = computed(() => {
  return userStore.user.darkTheme;
});

watch(darkTheme, () => {
  selectedTheme.value = darkTheme.value ? '#1E1E1E' : '#FFFFFF';
});

const accentColor = computed(() => {
  return userStore.user.accentColor;
});

watch(accentColor, () => {
  selectedAccentColor.value = accentColor.value as string;
});

const context = {
  updateUserSettings
};
</script>

<style>
#themeColorInput .q-color-picker__cube {
  width: 50% !important;
}
.q-color-picker__header-banner input {
  display: none;
}
</style>
